.cust-app-lp .ce-lp{
    width: 255px;
    margin-left: 20px;
}
.cust-app-rp {
    width: 534px;
    margin-left: 15px;
}
.app-ques-text {
    font-family: 'opensanssemibold';
    font-size: 15px;
    line-height:normal;
    margin-bottom: 10px;
}
.app-option {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding-left: 30px;
    background: url(../images/check_box_unchecked.png) no-repeat left center;
    font-size: 16px;
    font-family: 'opensanssemibold';
    text-transform: capitalize;
    cursor: pointer;
}
/* .app-option-checked {
	background: url(../images/check_box_checked.png) no-repeat left center !important;
} */
.app-ques-wrapper {
    margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #dcdcdc;
}
.app-ques-header-txt {
    font-family: 'opensanssemibold';
    font-size: 18px;
	line-height: 40px;
	margin-bottom: 15px;
}
.app-input {
	/*NEXNF-534*/
    /* width: 150px; */
    width: 130px;
    height: 35px;
    padding-left: 10px;
    line-height: 35px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #fafafa;
    font-size: 14px;
}
.dwn-val{
	/* width: 100px; */
	width: 85px;
}
.dwn-percentage{
	width: 50px;
	padding-left: 5px;
	background: url(../images/percentagesy.png) no-repeat 35px #fafafa;
	background-size: 12px;
	margin-right: 10px;
	text-align: right;
	padding-right: 17px;
}
.app-save-btn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #6c9f2e;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: 'opensanssemibold';
    cursor: pointer;
}
.app-options-cont {
    position: relative;
    /* NEXNF-524 */
    /* width: 250px; */
    width: 300px;
}

.app-cont-new{
	width: 250px;
}

.app-dropdown-cont {
    position: absolute;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
}
.app-option-selected {
	height: 35px;
	padding-left: 10px;
	line-height: 35px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	background: url(../images/down-arrow.png) no-repeat right center;
	background-color: #fafafa;
	font-size: 14px;
	cursor: pointer;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 20px;
	text-transform:inherit;
}

.app-option-sel {
    min-height: 30px;
    padding: 10px 0 5px 10px;
    line-height: normal;
    font-size: 14px;
    cursor: pointer;
}
.app-option-sel:hover {
    background: #fafafa;
}

.app-option-choice {
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	margin-top:10px;
	text-align: center;
	margin-right: 10px;
	color: #fff;
	background: #6c9f2e;
	border-radius: 3px;
	font-size: 14px;
	text-transform: capitalize;
	cursor: pointer;
}

.app-option-choice[isSelected="true"] {
	background: #F47521;
}

.width-75{
 width: 75px !important;
}

.width-150{
 width: 327px !important;
}
.cust-app-lp{
	margin-top:51px;
}

.cust-app-lp .ce-app-lp-item-text{
	line-height: 40px;
}

.cust-app-lp .ce-lp-item-icon{
	width: 35px;
	height: 52px;
	line-height: 40px;
	background-size: 35px;
}

.cust-app-lp .ce-lp-complete .ce-lp-item-icon:after{
	width: 38px;
	height: 45px;
	background-size: 20px;

}

.ce-option-ques-wrapper input{
	background-color: #fff;
}

.ce-option-ques-wrapper .app-option-selected{
	background-color: #fff;
}
.ce-option-ques-wrapper .app-ques-wrapper{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 15px;
	padding-left: 15px;
}

.asset-ques-wrapper {
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px dashed #d4d4d4;
}

.ce-sub-option-wrapper .ce-option-text{
	font-size: 18px;
	margin-bottom: 5px;
}

.ce-sub-option-wrapper .app-ques-text{
	margin-bottom: 5px;
}

.remove-btn {
	display: inline-block;
	padding: 0 10px;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	background: #6c9f2e;
	border-radius: 3px;
	color: #fff;
	margin: 0px 10px 0 10px;
	cursor: pointer;
}

.ce-err-input{
	  border: 1px solid #dd4b39;
}

.app-append-width {
    width: 212px;
}
.cep-button-color{
	background-color: rgba(24,72,141,0.9);
}
 .cep-button-color:hover {
    background: #F47521;
} 

