.ce-refinance-wrapper{
	margin-top: 60px;
}

.ce-ques-option {
	width: 260px;
	margin: 0 10px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background-color: #6c9f2e;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	font-size: 34px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
}

.ce-ques-options-container {
	margin: 10px 0;
}

.ce-ques-wrapper {
	width: 560px;
	max-width:100%;
	margin: 0 auto;
	padding: 10px 0;
}

.ce-ques-text {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	margin: 20px 0;
}

.ce-cp{
	margin-left: 60px;	
}

.ce-lp{
	width: 275px;
}

.ce-option {
	width: 100%;
	height: 55px;
	line-height: 55px;
	color: #fff;
	background: #6c9f2e;
	margin-bottom: 20px;
	border-radius: 3px;
	text-align: center;
	font-size: 34px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
	cursor: pointer;
}

.ce-rp-ques-text {
	font-family: 'opensanssemibold';
	font-size: 36px;
	line-height: 45px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.ce-input {
	width:450px;
	max-width: 100%;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	background: #fafafa;
	font-size: 18px;
}

.ce-options-cont {
	margin-bottom: 20px;
}

.ce-save-btn {
	width: 200px;
	margin: 0 auto;
	background: #6c9f2e;
	color: #fff;
	font-size: 20px;
	font-family: 'opensanssemibold';
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 3px;
	cursor: pointer;
}

.ce-title {
    text-align: center;
    font-size: 36px;
    font-family: 'opensanssemibold';
}

.ce-rate-icon {
    height: 170px;
    margin-top: 100px;
    background: url(../images/rate_logo_green.png) no-repeat center;
}

.ce-lp-item-icon{
	position:relative;
	width:45px;
	height: 66px;
	line-height: 50px;
	font-size:19px;
	background-repeat: no-repeat;
	background-position: center;
	color:#fff;	
	text-align: center;
	font-family: 'opensanssemibold';
}

.ce-lp-complete .ce-lp-item-icon{
	background-image: url(../images/bubble_green.png);
}

.ce-lp-complete .ce-lp-item-icon:after{
	position:absolute;
	top:0;
	left:0;
	content: " ";
	width:45px;
	height: 50px;
	background: url(../images/tick_white.png) no-repeat center;
	z-index:1;
}

.ce-lp-not-started .ce-lp-item-icon{
	background-image: url(../images/bubble_grey.png);
}

.ce-lp-in-progress .ce-lp-item-icon{
	background-image: url(../images/bubble_orange.png);
}

.ce-lp-item-text {
    padding-left: 15px;
    line-height: 44px;
    font-size: 19px;
    font-family: 'opensanssemibold';
    text-transform: capitalize;
}

.ce-lp-not-started .ce-lp-item-text{
	opacity: 0.6;
}

.ce-rp-sub-ques-text {
	line-height: 30px;
	margin-bottom:5px;
	font-size: 16px;
	font-family: 'opensanssemibold';
}

.ce-option-checkbox {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
	padding-left:30px;
	background: url(../images/check_box_unchecked.png) no-repeat left center;
	font-size: 16px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
	cursor: pointer;
}

.ce-option-checked{
	background: url(../images/check_box_checked.png) no-repeat left center;
}

.ce-option-ques-wrapper {
	position:relative;
    border: 1px solid #dcdcdc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    width: 500px;
}

.ce-option-ques-wrapper:after,.ce-option-ques-wrapper:before{
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
	left:40px;
	bottom:100%;
	border-color: transparent;
	border-style:solid;
}

.ce-option-ques-wrapper:after{
	border-width: 12px;
	border-bottom-color: #dcdcdc;
	z-index: 0;
}

.ce-option-ques-wrapper:before{
	border-width: 10px;
	border-bottom-color: #fff;
	margin-left:2px;
	z-index: 1;
}

.ce-option-ques-wrapper .ce-rp-ques-text{
	font-size: 16px;
	line-height: 20px;
}

.ce-option-text {
	line-height: 20px;
	height: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'opensanssemibold';
}

.ce--sub-option {
	width: 100px;
	display:inline-block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #6c9f2e;
	margin-bottom: 20px;
	margin-right:20px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
	cursor: pointer;
}

.ce-rate-main-container{
	width: 830px;
}
