.ce-refinance-wrapper {
	margin-left: 100px;
	margin-top: 60px;
}

.ce-ques-option {
	width: 260px;
	margin: 0 10px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	/*background-color: #6c9f2e; */
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	font-size: 34px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
}

.ce-ques-option:hover {
	background: #F47521;
}

.ce-ques-options-container {
	margin: 10px 0;
}

.ce-ques-wrapper {
	width: 560px;
	max-width:100%;
	margin: 0 auto;
	padding: 10px 0;
}

.ce-ques-wrapper_firstPage {
	width: 560px;
	max-width:100%;
	margin: 0 auto;
	padding: 50px 0;
}

#ce-refinance-cp .ce-ques-wrapper{
	margin: 0;
} 

.ce-ques-text {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	margin: 20px 0;
}

.ce-cp {
	margin-left: 40px;
	width: 755px;
}

.ce-lp{
	width: 275px;
}

.ce-option {
	width: 350px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #6c9f2e;
	margin-bottom: 20px;
	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	font-family: 'opensanssemibold';
	cursor: pointer;
}

.ce-rp-ques-text {
	font-family: 'opensanssemibold';
	font-size: 15px;
	margin-bottom: 5px;
}

.ce-mul-ques-text{
	font-family: 'opensanssemibold';
	font-size: 26px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.ce-input {
	width:130px;
	max-width: 100%;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	background: #fafafa;
	font-size: 14px;
	font-family: opensans;
}

.ce-options-cont {
	margin-bottom: 20px;
}

.ce-save-btn {
	/* webportal updates 7.7 */
/* 	width: 200px;
	background: #6c9f2e;
	color: #fff;
	font-size: 20px;
	font-family: 'opensanssemibold';
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 3px;
	cursor: pointer; */
		
	width: 160px;
	height: 40px;
	line-height: 40px;
	margin: 15px 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #6c9f2e;
	border-radius: 3px;
	text-transform: capitalize;
	font-family: 'opensanssemibold';
	cursor: pointer;
}

  
.ce-title {
    text-align: center;
    font-size: 24px;
    font-family: 'opensanssemibold';
}

.ce-title-firstPage{
	text-align: center;
    font-size: 36px;
    font-family: 'opensanssemibold';
}

.ce-rate-icon {
    height: 130px;
   /* margin-top: 100px;
    background: url(../images/rate_logo_green.png) no-repeat center;*/
}

.ce-lp-item-icon{
	position:relative;
	width:45px;
	height: 66px;
	line-height: 50px;
	font-size:19px;
	background-repeat: no-repeat;
	background-position: center;
	color:#fff;	
	text-align: center;
	font-family: 'opensanssemibold';
}

.ce-lp-complete .ce-lp-item-icon{
	background-image: url(../images/bubble_green.png);
}

.ce-lp-complete .ce-lp-item-icon:after{
	position:absolute;
	top:0;
	left:0;
	content: " ";
	width:45px;
	height: 50px;
	background: url(../images/tick_white.png) no-repeat center;
	z-index:1;
}

.ce-lp-not-started .ce-lp-item-icon{
	background-image: url(../images/bubble_grey.png);
}

.ce-lp-in-progress .ce-lp-item-icon{
	background-image: url(../images/bubble_orange.png);
}

.ce-lp-item-text {
    padding-left: 15px;
    line-height: 44px;
    font-size: 18px;
    font-family: 'opensanssemibold';
   /*  text-transform: capitalize; */
}

.ce-lp-not-started .ce-lp-item-text{
	opacity: 0.6;
}

.ce-rp-sub-ques-text {
	line-height: 30px;
	margin-bottom:5px;
	font-size: 16px;
	font-family: 'opensanssemibold';
}

.ce-option-checkbox {
	width: 100%;
	min-height: 35px;
	padding: 10px 0;
	border-radius: 3px;
	padding-left:30px;
	background: url(../images/check_box_unchecked.png) no-repeat left 14px;
	font-size: 16px;
	font-family: 'opensanssemibold';
	/*text-transform: capitalize;*/
	cursor: pointer;
	overflow: hidden;
	word-break: break-word;
}
.app-option-checked {
	background: url(../images/check_box_checked.png) no-repeat left 14px;
}
.ce-option-checked{
	background: url(../images/check_box_checked.png) no-repeat left 14px;
}

.ce-option-ques-wrapper {
	position: relative;
	border: 1px solid #cecece;
	background: #fcfcfc;
	margin: 10px 0 15px 30px;
	padding: 10px;
	border-radius: 3px;
	width: 455px;
}

.ce-option-ques-wrapper .ce-input {
	margin-top: 2px;
	background: #fff;
	display: block;
	width: 100%;
}

.ce-option-ques-wrapper .ce-ques-wrapper{
	padding: 10px 14px 0px 14px;
}

.ce-option-ques-wrapper:after,.ce-option-ques-wrapper:before{
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
	left:40px;
	bottom:100%;
	border-color: transparent;
	border-style:solid;
}

.ce-option-ques-wrapper:after{
	border-width: 12px;
	border-bottom-color: #cecece;
	z-index: 0;
}

.ce-option-ques-wrapper:before{
	border-width: 10px;
	border-bottom-color: #fcfcfc;
	margin-left:2px;
	z-index: 1;
}

.ce-option-ques-wrapper .ce-rp-ques-text{
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0;
}

.ce-option-text {
	line-height: 20px;
	min-height: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'opensanssemibold';
}

.ce--sub-option {
	width: 100px;
	display:inline-block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #6c9f2e;
	margin-bottom: 20px;
	margin-right:20px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	font-family: 'opensanssemibold';
	text-transform: capitalize;
	cursor: pointer;
}

.ce-rate-main-container{
	/* width: 830px; */
}

.ce-app-lp-item-text {
	padding-left: 15px;
	line-height: 44px;
	font-size: 15px;
	font-family: 'opensanssemibold';
}

.app-sub-quest-text {
	font-size: 14px;
	margin: 15px 0 25px 0;
}

.ce-refinance-wrapper .yr-slider{
	width: 510px;
	max-width: 90%;
}

.ce-refinance-wrapper .rt-slider{
	width: 520px;
	max-width: 95%;
}

.ce-get-started {
    text-align: center;
    font-size: 33px;
    margin-top: 16px; 
    font-family: 'opensanssemibold';
}

/* .ce-option:hover {
	background: #F47521;
} */

.ce-save-btn:hover {
	background: #F47521;
}

/* .app-option-choice:hover{
	background: #F47521;
} */

.app-option-choice.out{
	background-color: rgba(24,72,141,0.9);
}

.ce-err-input{
	  border: 1px solid #dd4b39;
}

.ss-ques-wrapper {
    margin-top: 10px;
}
.text-color {
  color: #dd4b39;
}

.cep-button-color{
	background-color: rgba(24,72,141,0.9);
}

.cust-eng{
	position:fixed;
}
.hdr-contact-icon{
	  background: url(../images/phone2.png) no-repeat center;
	  width: 15px;
	  height: 15px;
	  margin: 17.5px 0px;
}

.choice-hover{
	background: #F47521 !important;
}


.ce-title-adj {
	font-size: 18px;
}