
section.section.swatch-black {
    background-color: #428bca;
}

.footer-container {
    position: relative;    
    z-index: 3;
    width: 1170px;
    margin-right: auto;    
    margin-left: auto;       
     
}

.footer-container {
    /* margin: 10px; */
}

.footer-container-text {
    text-align: center;
    padding:15px;
}

.footer-element-normal-bottom {
  padding-top: 15px;
}

.footer-col-md-3 {
  margin-left: 20px;
  width: 25%;}

.footer-sidebar-header {
  margin-bottom: 12px;
  /* padding-bottom: 12px; */
  position: relative;
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

.footer-border-width {
  width: 59px;
  /* border-bottom: 1px solid white; */
}

.footer-order-list {
  padding: 0px;
  margin: 0px;
}

.footer-list {
  font-family: openSans;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);      
  margin-left: 0px;
  padding: 6px;
  /* padding-top: 13px; */
}

.footer-anchor {
  font-family: OpenSanslight;
  font-size: 14px;
   color: white; 
   cursor: pointer;
}

.footer-icon-col-md-3 {
  /* float: right; */
 
  padding-left: 25px;
}

.footer-icon-container{
  padding-top: 15px;
}


.footerlinkedin{
     background: url(../images/footer_sprite.png) no-repeat 0 -2px;
     height: 40px;
     width:40px;
     float:left;
}

.footertwitter{
      background: url(../images/footer_sprite.png) no-repeat -54px -2px;
     height: 40px;
     width:40px;
     float:left;
     margin-left: 20px;
}


.footeremail{
     background: url(../images/footer_sprite.png) no-repeat -110px -2px;
     height: 40px;
     width:40px;
     float:left;
     margin-left: 20px;
}



div.footerlinkedin:hover{
  background-position: 0 -58px;
  cursor: pointer;
}

div.footertwitter:hover{
  background-position: -54px -58px;    
  cursor: pointer;
}


div.footeremail:hover{
  background-position: -110px -58px;   
  cursor: pointer;
}

.footer-text {
  text-align: center;
 
  padding-top: 5px;
  font-size: 12px;
}

.footer-wrapper {
  bottom: 0px;
  width: 100%;
  position: fixed;
  height: 48px;
  background-color: #FAFAFA;
  z-index: 9999;
  border-top: 1px solid #E5E5E5;
}
.footer-newfi-image {
    background: url(../images/newfi_logo_big.png) no-repeat center;
    height: 51px;
    background-size: 35%;
}

.footer-newfi-information {
    /* font-family: 'OpenSansLight'; */
    font-family: OpenSanslight;
    font-size: 15px;
    text-align: right;
    margin-right: -15px;
}

.footer-newfi-information-subtxt {
    /* font-family: 'OpenSans'; */
    /* font-size: 40px; */
    padding-top: 15px;
}

p.footer-subtxt {
    /* font-family: 'OpenSansLight'; */
    font-family: OpenSanslight;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    margin-left: 98px;
}

.footer-home-text {    
    color: white;    
    
	
    padding-left: 30px;
    white-space: nowrap;
}

.footer-home-image {
    background: url(../images/house.png) no-repeat left;
    
    background-color: none !important;
    background-size: 100% auto;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    float: left;
}

.footer-bottom {
    padding-top: 45px;
}

.footer-text-links {
  text-align: center;
  padding: 0px;
}
a.footer-inline-txt {
    font-size: 10px;
}
.footer-inline-home-image{
	background: url(../images/house.png) no-repeat left;
    background-color: none !important;   
	background-size: 100% auto;    
	height: 24px;   
	width: 25px;    
	margin-top: 0px;    
	float: left;
	background-color: #428bca;
}
.footer-inline-bottom-right {
    padding-left: 277px;
}

div#footeHomeImage {
    margin-top: 8px;
}

div#footerHomeText {
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 33px;
    font-size: 13px;
}
.footer-inline-bottom-left {
    padding-left: 233px;
    text-align: center;
}
* html.footer-wrapper  {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

