/* ============== SMARTPHONES ==============*/
@media (max-width: 767px) {
	body{
		overflow-x: hidden;
	}
	.home-container{
		padding-right: 15px;
		overflow: hidden;
	}
	.left-panel{
		display: none;
		border-right: 1px solid #dcdcdc;
	}
	.right-panel{
		margin-left: 0;
	}
	.center-panel{
		margin-left: 48px;
		padding-left: 10px;
	}
	.lp-t2-txt{
		display: none;
	}
	.lp-t2-wrapper,
	.lp-t2-item,
	.lp-t2-img{
		width: 50px;
	}
	
	.lp-t2-wrapper{
		top:50px;
	}
	
	.lp-t2-item{
		height: 50px;
	}
	.arrow-right{
		bottom: 29px;
		left: 50px;
	}
	.loan-summary-lp{
		border-bottom: 1px #E9E9E9 solid;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		margin-bottom: 10px;
		width: 100%;
		padding:0 10px;
	}
	.closing-cost-cont-wrapper-top, 
	.closing-cost-cont-wrapper-bottom{
		margin-left: 0;
	}
	.closing-cost-desc{
		width: 65%;
	}
	.closing-cost-detail {
		margin-left: 5%;
		width: 30%;
	}
	.rate-program-container-col1,
	.rate-program-container-col3{
		display: none;
	}
	.rate-program-container-col2{
		width: 90%;
		margin: 0 5%;
	}
	.cp-rate-btn, 
	.cp-est-cost-btn{
		font-size: 16px;
	}
	.cp-rate-header-text{
		margin-bottom: 5px;
	}
	.cp-est-header-text{
		padding: 0 10px;
	}
	.cp-rate-header-text,
	.cp-est-header-text{
		font-size: 13px;
	}
	.rate-slider{
		margin-bottom: 15px;
	}
	.logout-btn-txt{
		display: none;
	}
	.left-panel{
		height: 2000px;
		background-color: #fff;
		z-index: 99999;
	}
	.asset-doc-cont,
	.unassign-doc-cont{
		width: 100%;
		padding : 0;
	}
	
	.asset-doc-row{
		padding-left: 20px;
		background-position: 0 5px;
	}
	
	.needed-items-rc{
		display: none;
	}
	.document-cont-col{
		width: 50%;
		padding: 0;
	}
	.file-upload-text-cont1{
		display: none;
	}
	.list-item-icn{
		width: 20px;
	}
	.needed-item-desc{
		padding: 5px 5px;
	}
	.needed-items-lc{
		width: 100%;
	}
	.file-upload-text-cont2{
		line-height: 15px;
		font-size:12px;
	}
	.form-detail-input{
		width: 200px;
	}
	.form-detail-input-sm{
		width: 100px;
	}
	.form-detail-input-lg{
		width: 225px;
	}
	.right-panel-messageDashboard{
		width:100% !important;
		margin-left: 0;
	}
	.message-wrapper{
		margin-left: 0;
		padding-left: 5px;
	}
	.message-cont-textinput{
		width: 99%;
		margin-left: 2px;
	}
	.conversation-header{
		margin-left: 0;
	}
	.conversation-container,
	.conversation-container-child{
		padding: 10px;
	}
	.rp-agent-dashboard{
		width: 100% !important;
		margin-left:0;
	}
	.container-row{
		margin-right: -10px;
	}
	.agent-customer-list-header{
		margin-left: 10px;
	}
	.customer-list-contianer {
		padding-left: 10px;
	}
	
	.leads-container-tc1{
		width: 40%;
	}
	
	.leads-container-tc2{
		width: 25%;
	}
	
	.leads-container-tc5{
		width: 20%;
	}
	
	.leads-container-tc7{
		width: 15%;
	}
	
	.leads-container-tc3,
	.leads-container-tc4,
	.leads-container-tc6{
		display: none;
	}
	
	.cust-detail-lw,
	.cust-detail-rw{
		width: 100%;
		padding: 0;
	}
	
	.initial-list-doc-wrapper{
		width: 100%;
	}
	
	.add-needs-input-edit{
		width: 90%;
	}
	
	.cus-prof-pic{
		margin-left: 30px;
	}
	
	.cus-prof-detail-lc,.cus-prof-detail-rc{
		width: 255px;
		margin:0 auto;
		float: none;
	}
	
	.cus-detail-rc-title{
		width: 100px;
	}
	
	.cus-detail-rc-value{
		width: 135px;
	}
	.cus-prof-pic-txt{
		margin-left: 20px;
	}
	.prof-form-input{
		display: block;
		margin-bottom: 10px;
	}
	.prof-form-row .state-dropdown-wrapper{
		margin-top: -9px;
	}
	.prof-form-input-lg{
		width: 250px;
	}
	.loan-personal-info-wrapper {
		padding-left: 10px;
		padding-right: 5px;
	}
	.prof-form-input-cont{
		width: 140px;
	}
	.silder-cont{
		width: 90% !important;
		margin-bottom: 30px;
	}
	.slider-hdr-txt{
		margin-right: 0px;
		width: 100%;
	}
	.rt-slider {
	    width: 95%;
	}
	.lock-rate-slider-container{
		padding: 10px;
	}
    .reg-header-btns-wrapper{
        display: none;
    }
    .cust-app-lp{
        display: none;
    }
    .cust-app-rp{
        margin-left: 0;
        width: 100% !important;
    }
    .ce-ques-option{
        width: 100%;
        margin: 10px auto;
        height: 50px;
        line-height: 50px;
        font-size: 28px;
    }
    .ce-rate-icon {
      height: 50px;
      margin-top: 10px;
      /* background-size: 150px; */
    }
    .ce-ques-text {
      font-size: 13px;
      line-height: 20px;
    }
    .ce-title {
      font-size: 30px;
      padding: 0 10px;
    }
    .ce-ques-wrapper{
        width: 100%;
    }
    .ce-ques-options-container{
        padding: 0 10px;
    }
    .rt-grid-item:last-child {
        margin-left: -18px;
    }

    .rt-grid-item:last-child:after {
        left: 18px;
    }
    .slider-wrapper {
      margin: 10px 0 25px 0;
    }
    .assigned-agent-cont-wrapper{
        min-width: 80px;
    }
    .assigned-agent-cont-lc {
        width: 60px;
        float: none;
        margin: 0 auto;
        margin-top: 5px;
    }
    .assigned-agent-cont-rc{
        width: 100%;
        padding: 0;
    }
    .assigned-agent-default-img{
    	margin: 0 auto;
	}
	.assigned-agent-name{
		font-size: 11px;
		text-align: center;
	}
	.assigned-agent-role,.assigned-agent-contact{
		display: none;
	}
    .milestone-header-bar{
    	display: none;
    }
    .agent-message-dashboard{
    	padding-left: 5px;
    }
    .cus-prof-popup:before {
		bottom: 100%;
		top: auto;
		-ms-transform: rotate(90deg); 
		-webkit-transform : rotate( 90deg);
		-moz-transform : rotate( 90deg);
		-o-transform : rotate( 90deg);
		transform: rotate(90deg);
		border-right-color: #428bca;
		margin-bottom: 3px;
		left: 170px;
	}
	.cus-prof-popup:after{
		display: none;
	}
	.cus-prof-popup {
		left: -150px;
		top: 30px;
		width: 400px;
	}
	.ms-add-notification-popup:after {
		right: 50%;
	}
	.ce-refinance-wrapper{
		margin-left: 0;
		margin-top: 30px;
	}
	.ce-lp{
		display: none;
	}
	.ce-cp{
		width: 100% !important;
		margin-left: 0;
		padding: 0 20px;
	}
	.ce-option{
		width: 100%;
		font-size: 18px;
	}
	.reg-input-row {
		/* width: 400px; */
		height:auto;
		margin: 0 auto 10px auto;
		padding: 0 10px;
	}
	.reg-row-lc,.reg-row-rc {
		width: 100% !important;
		padding:0;
		text-align: left !important;
	}
	.reg-row-lc{
		line-height: 25px;
	}
	/* .reg-display-title-subtxt{
		max-width: 100%;
		padding: 0 10px;
		margin-bottom: 15px;
	} */
	
	.cust-eng-step-hdr,.cust-app-step-hdr {
		display: block;
		padding: 0 20px;
		font-size: 24px;
		margin-bottom: 10px;
		font-family: 'opensanssemibold';
		color: #F47522;
	}
	.overlay-loader{
		background-size: 60px;
	}
	#overlay-loader-text {
		padding-top: 60px;
		font-size: 18px;
	}
	.user-info-txt {
  		font-size: 14px;
	}
	.left-user-container{
		height: 395px;
	}
	.reg-input-row .reg-fname,.reg-input-row .reg-lname {
		width: 200px;
		float: none;
		margin: 10px 0 0 0;
	}
	.user-info-image .assigned-agent-default-img,.user-info-image .assigned-agent-img
		{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		margin: 0 auto;
	}
	.footer-wrapper-container {
		padding-left: 0px;
	}
	.center-text-session-expire {
	 	margin: 100px auto;
	}
	.create-user-popup-cont {
	    width: 100%;
	}
	.create-user-popup{
		width: 400px;
	}
	.add-member-input-cont{
		padding-right: 10px;
	}
	#ms-add-member-popup {
		right: 0px;
		width: 440px;
	}
	.add-licence-popup {
		right: -220px;
		width: 300px;
	}
	.add-licence-popup:after{
		right: 75%;
	}
	.add-licence-popup .add-member-label {
		width: 81px;
	}
	.add-licence-popup .create-user-popup-input {
	    width: 175px;
	}
	.add-licence-popup .add-member-input-cont {
		width: 100%;
	}
	.cust-profile-url{
		float: none;
		margin-top: 10px;
	}
	.loan-summary-header-col1 {
		width: 130px;
	}
	.rate-btn-alertRate {
		width: 170px;
		padding-right: 20px;
	}
	.ce-refinance-wrapper .rt-slider {
		width: 95% !important;
	}
}

/* ============== ANTHING ABOVE SMARTPHONES ==============*/
@media (min-width: 768px) {
    .mobile-slider-container,
	.small-screen-menu-icon{
		display: none;
	}
	.left-panel{
		display: block !important;
	}
	.file-upload-text-mobile{
		display: none;
	}
    .soft-menu-wrapper,.soft-menu-icon{
        display: none !important;
    }
}


/* ============== ONLY TABLETS ==============*/
@media (min-width: 768px) and (max-width: 991px) {
	.home-container,
	.header-container,
	.footer-wrapper-container{
		width: 100%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.closing-cost-cont-wrapper-top, 
	.closing-cost-cont-wrapper-bottom{
		margin-left: 15px;
	}
	
	.rate-program-container-col1,
	.rate-program-container-col2,
	.rate-program-container-col3{
		margin-left:10px; 	
	}
	.rate-program-container-col1{
		width: 19%;
	}
	.rate-program-container-col2{
		width: 50%;
	}
	.rate-program-container-col3{
		width: 22%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.cp-rate-btn, 
	.cp-est-cost-btn{
		font-size: 16px;
		line-height: 35px;
	}
	.cp-est-header-text{
		padding: 0;
		font-size: 13px;
	}
	.cp-rate-header-text{
		font-size: 13px;
		margin-bottom: 5px;
	}
	.rate-slider{
		margin-bottom: 20px;
	}
	.needed-items-rc{	
		display: none;
	}
	.doc-desc{
		height: 80px;
		padding: 5px 0;
	}
	.form-detail-input-lg{
		width: 240px;
	}
	.agent-customer-list-header{
		margin-left: 10px;
	}
	.customer-list-contianer{
		padding-left: 10px;
	}
	.leads-container-tc6{
		display:none;
	}
	.leads-container-tc1{
		width: 35%;
	}
	.leads-container-tc2,.leads-container-tc3,.leads-container-tc4{
		width: 15%;
	}
	.leads-container-tc7,.leads-container-tc5{
		width: 10%;
	}
	.cus-name{
		padding-left: 10px;
	}
	.cus-detail-rc-title{
		width: 45%;
		padding-right: 5px;
	}
	.cus-detail-rc-value {
		width: 55%;
		padding-left: 5px;
	}
	.cus-prof-pic-txt{
		width: 100px;
	}
	.cus-prof-detail-rc{
		width: 230px;
	}
	.add-needs-input-edit{
		width: 90%;
	}
	.prof-form-input{
		width: 180px;
		margin-right: 10px;
	}
	
	.prof-form-input-sm{
		width: 125px;
	}
	
	.prof-form-input-lg{
		width: 300px;
	}
	.add-member-sel,.add-member-sel-search{
		float: left;
	}
	.ms-team-member-th,.ms-team-member-tr{	
		width: 195px;
	}
	.prof-form-input-cont{
		width: 175px;
	}
    .silder-cont{
		width: 90%;
		margin-bottom: 30px;
	}
	.slider-hdr-txt{
		margin-right: 0px;
		width: 100%;
	}
	.rt-slider {
	    width: 95%;
	}
	.lock-rate-slider-container{
		padding: 10px;
	}
    .loan-summary-last-row .loan-summary-col-detail{
        padding: 5px 10px;
    }
    .cust-app-lp{
        display: none;
    }
    .cust-app-rp{
        margin-left: 0;
        width: 100% !important;
    }
    .milestone-header-bar{
    	display: none;
    }
    .cus-prof-popup:before,.cus-prof-popup:after {
		left: 100%;
		-ms-transform: rotate(180deg); 
		-webkit-transform : rotate( 180deg);
		-moz-transform : rotate( 180deg);
		-o-transform : rotate( 180deg);
		transform: rotate(180deg);
	}
	.cus-prof-popup{
		left: auto;
		right:30px;
	}
	.ms-add-notification-popup:after {
	 	right: 150px;
	}
	.ms-add-notification-popup{
		left: -100px;
	}
	.ce-refinance-wrapper{
		margin-left: 10px;
	}
	.ce-cp{
		margin-left: 20px;
	}
	.reg-row-lc{
	    padding-right: 10px;
	}
	.reg-row-rc{
	    padding-left: 10px;
	}
	.cust-app-step-hdr {
		display: block;
		padding: 0 20px;
		font-size: 24px;
		margin-bottom: 10px;
		font-family: 'opensanssemibold';
		color: #F47522;
	}
	.loan-summary-sub-col-detail{
		float: none;
	}
	.sm-save-btn {
		margin: 5px 0 0 0;
		float: none;
		width: 40px;
		padding: 0;
		text-align: center;
	}
	.cust-personal-info-header-url{
		width: 195px;
		font-size: 10px;
	}
	.cust-personal-info-header {
		padding: 11px 10px;
	}
	.ce-refinance-wrapper .yr-slider {
		width: 90%;
		max-width: 100%;
	}
	.ce-refinance-wrapper .rt-slider {
		width: 93%;
		max-width: 100%;
	}
}


/* ============== MEDIUM SIZED SCREENS ==============*/
@media (min-width: 992px) and (max-width: 1199px) {
	.home-container,
	.header-container,
	.footer-wrapper-container{
		width: 100%;
	}
	.rate-program-container-col1{
		width: 16%;
	}
	.rate-program-container-col2{
		width: 50%;
	}
	.rate-program-container-col3{
		width: 19%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.leads-container-tc1{
		width : 25%
	}
	.leads-container-tc2{
		width : 15%
	}
	.leads-container-tc3{
		width : 15%
	}
	.leads-container-tc4{
		width : 15%
	}
	.leads-container-tc5{
		width : 10%
	}
	.leads-container-tc6{
		width : 12%
	}
	.leads-container-tc7{
		width : 8%
	}
	.cus-name {
		padding-left: 10px;
	}
	.add-member-input-cont {
		padding-right: 10px;
	}
	.lock-rate-slider-container{
		padding: 10px 20px;
	}
	.slider-hdr-txt{
		margin-right: 20px;
	}
	.silder-cont{
		width: 460px;
	}
    .cust-app-rp{
        margin-left: 10px;
    }
    .app-input{
        width: 340px;
    }
    .needed-items-lc {
	  	width: 70%;
	}
	.ce-refinance-wrapper{
		margin-left: 60px;
	}
	.ce-cp{
		margin-left: 40px;
	}
	.ce-option-ques-wrapper{
		width: 360px;
	}
	.ce-refinance-wrapper .yr-slider {
		width: 80%;
	}
	.ce-refinance-wrapper .rt-slider {
		width: 82%;
	}
}


/* ============== LARGE SIZED SCREENS ==============*/
@media (min-width: 1200px) {
    .center-panel{
    	width: 840px !important;
	}
	.right-panel-messageDashboard{
		width:939px !important;
	}
	.rp-agent-dashboard{
		width:939px !important;
	}
    .cust-app-rp{
        width: 534px !important;
    }
    .ce-cp{
    	  width: 755px !important;
    }
}

/*Custom breakpoints for milestone page*/
@media (max-width: 649px){
	
	.loan-progress-milestone-wrapper {
		width: 400px;
		max-width: 95%;
		margin: 0 auto;
	}
	.milestone-lc, .milestone-rc{
		width: 100%;
		left: 0;
	}
	.ms-cust-prof-container{
		display: none;
	}
	.milestone-lc:after,.milestone-lc:before{
		left:0;
	}
	.milestone-lc-border{
		left: -1px;
		right: auto;
	}
	.milestone-lc{
		padding-left:20px;
        padding-bottom: 30px;
		padding-right: 0; 
	}
	.milestone-lc-text {
		text-align: left;
	}
	.milestone-lc-header-txt,.milestone-lc-header-icn{
		float: left;
	}
	.milestone-lc-header-icn{
		margin-right: 0;
		margin-left: 10px;
	}
	.milestone-lc .ms-check-box-header {
		margin-left: -10px;
		margin-right: 10px;
		float: left;
	}
	.milestone-lc-header-txt:after{
		left: 0;
		border-color: transparent;
		-ms-transform: rotate(45deg); 
		-webkit-transform : rotate( 45deg);
		-moz-transform : rotate( 45deg);
		-o-transform : rotate( 45deg);
		transform: rotate(45deg);
		border-top-width: 14px;
		margin-left: -11px;
		margin-top: -5px;
		border-top-color:#ebebeb;
	}
	
	.m-not-started  .milestone-lc-header-txt:before {
		left: 0;
		margin-top: -6px;
		margin-left: -10px;
		-ms-transform: rotate(45deg); 
		-webkit-transform : rotate( 45deg);
		-moz-transform : rotate( 45deg);
		-o-transform : rotate( 45deg);
		transform: rotate(45deg);
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #888;
		border-top-width: 15px;
	}
	.m-complete .milestone-lc-header-txt:after {
		border-color: transparent;
		border-top-color: #7AB10D;
	}
	.m-in-progress .milestone-lc-header-txt:after {
		border-color: transparent;
		border-top-color: #F47521;
	}
	.ms-check-box{
		float: left;
	}
	.m-not-started .milestone-lc-header-txt:after {
		border-width: 1px;
		border-top-width: 14px;
		margin-left: -3px;
	}
	
	.milestone-lc .float-right,
	.milestone-lr .float-right{
		float: left;
	}
	.ms-add-notification-popup {
		padding: 10px 5px;
		width: 300px;
		left: -60px;
	}
	.milestone-lc-header-icn,.milestone-rc-header-icn{
		display: none;
	}
}

/*Custom breakpoints for milestone page*/

@media (min-width: 768px) and (max-width: 920px){
	.loan-progress-milestone-wrapper {
		width: 400px;
		max-width: 95%;
		margin: 0 auto;
	}
	.milestone-lc, .milestone-rc{
		width: 100%;
		left: 0;
	}
	.ms-cust-prof-container{
		display: none;
	}
	.milestone-lc:after,.milestone-lc:before{
		left:0;
	}
	.milestone-lc-border{
		left: -1px;
		right: auto;
	}
	.milestone-lc{
		padding-left:20px;
        padding-bottom: 30px;
		padding-right: 0; 
	}
	.milestone-lc-text {
		text-align: left;
	}
	.milestone-lc-header-txt,.milestone-lc-header-icn{
		float: left;
	}
	.milestone-lc-header-icn{
		margin-right: 0;
		margin-left: 10px;
	}
	.milestone-lc .ms-check-box-header {
		margin-left: -10px;
		margin-right: 10px;
		float: left;
	}
	.milestone-lc-header-txt:after{
		left: 0;
		border-color: transparent;
		-ms-transform: rotate(45deg); 
		-webkit-transform : rotate( 45deg);
		-moz-transform : rotate( 45deg);
		-o-transform : rotate( 45deg);
		transform: rotate(45deg);
		border-top-width: 14px;
		margin-left: -11px;
		margin-top: -5px;
		border-top-color:#ebebeb;
	}
	
	.m-not-started  .milestone-lc-header-txt:before{
		left:0;
		margin-top: -6px;
		margin-left:-10px;
		-ms-transform: rotate(45deg); 
		-webkit-transform : rotate( 45deg);
		-moz-transform : rotate( 45deg);
		-o-transform : rotate( 45deg);
		transform: rotate(45deg);
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #888;
		border-top-width: 15px;
	}
	.m-complete .milestone-lc-header-txt:after {
		border-color: transparent;
		border-top-color: #7AB10D;
	}
	.m-in-progress .milestone-lc-header-txt:after {
		border-color: transparent;
		border-top-color: #F47521;
	}
	.ms-check-box{
		float: left;
	}
	.m-not-started .milestone-lc-header-txt:after {
		border-width: 1px;
		border-top-width: 14px;
		margin-left: -3px;
	}
	
	.milestone-lc .float-right,
	.milestone-lr .float-right{
		float: left;
	}
	.ms-add-notification-popup:after {
	 	right: 250px;
	}
}



@media (max-width: 475px) {
	.loan-summary-header-col2{
		display: none;
	}
	.form-detail-row-desc{
		width: 100%;
		text-align : left;
		padding-left: 10px;
	}
	.form-detail-row-value,
	.form-detail-row-name{
		width:50%
	}
	.form-detail-row-name{
		padding-right: 10px;
	}
	.save-app-btn{
		width : 150px;
	}
	.form-detail-edit,
	.form-detail-input{
		width: 100%;
	}
	.edit-form{
		padding: 0 5px;
	}
	.application-form-header{
		padding-left: 5px;
	}
	.application-form-header-col1,
	.form-progress,
	.progress-span-text,
	.edit-form{
		font-size: 10px;
	}
	.est-credit-row{
		padding-left: 0;
		text-align: center;
	}
	.form-detail-edit-row{
		padding: 0;
	}
	.doc-desc{
		height: 80px;
		padding: 5px 5px;
	}
	.uploaded-items-container{
		padding-left: 0;
	}
	.needed-items-container {
		margin: 0;
	}
	.alert-btn{
		margin-right: 5px;
	}
	.dt-picker-text{
		display: none;
	}
	.date-picker-cont{
		width: 50%;
		padding-left: 0;
		padding-right: 5px;
		
	}
	.time-picker-cont{
		width: 50%;
		padding-left: 5px;
	}
	.cust-detail-container{
		padding: 10px;
	}
	.agent-customer-list-header{
		padding-left: 5px;
		padding-right: 5px;
	}
	.filter-text{
		display: none;
	}
	.leads-container-row{
		padding: 10px 0;
	}
	.onl-status-icn{
		width: 10px;
		height: 10px;
	}
	.cus-name{
		padding-left: 5px;
	}
	.cus-img-icn{
		width: 25px;
		height: 25px;
		margin-top: 0;
		background-size:25px auto;
	}
	.filer-dropdown{
		width:95px;
		margin-left: 5px;
		padding-left: 10px;
	}
	.filter-selected, .filter-dropdown-item{
		font-size: 10px;
	}
	.search-input{
		width: 70px;
	}
	.add-needs-input-row{
		width: 100%;
	}
	.add-needs-input-edit{
		width: 100%;
	}
	.initial-list-doc-wrapper,.add-needs-wrapper,.need-list-save-btn-wrapper{
		padding-left: 10px;
	}
	
	.newfi-team-list-tr-col1,.newfi-team-list-tr-col2{
		width: 40%;
	}
	.newfi-team-list-tr-col3{
		display: none;
	}
	.add-member-input-cont{
		width: 100%;
		margin: 10px 0;
	}
	.prof-form-row-desc{
		width: 100%;
		text-align: left;
	}
	.prof-form-row{
		padding: 5px 10px;
	}
	.upload-pic-desc {
		line-height: 20px;
	}
	.yr-grid-item-selected,.yr-grid-item{
		font-size:10px;
        width: 50px;
        margin-left: -17px;
	}
    .loan-summary-last-row .loan-summary-col-detail{
        padding: 5px 10px;
    }
    .yr-grid-cont:first-child .yr-grid-item-selected {
        margin-left: -9px;
    }
    .av-loan-details-container{
        padding: 0;
    }
    .av-loan-details-row {
        min-height: 30px;
        height: auto;
        line-height: 20px;
        padding: 5px 0;
    }
    .av-loan-details-row-lc{
        width: 50%;
    }
    .av-loan-details-row-rc{
        max-width: 50%;
        padding-left: 10px;
        word-break:break-word;
    }
    .app-options-cont,.app-input{
        width: 100%;
    }
    
    .dwn-percentage {
    	text-align: left;
    	padding-left: 15px;
    	margin: 0;
    
    }
    
    .complete-application-header{
        min-height: 45px;
        padding: 5px 0;
        line-height: 35px;
        padding-left: 0;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .app-ques-header-txt{
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .cust-prof-edit-label {
		width: 100px;
		padding-right: 15px;
		padding-top: 11px;
		display: flex;
		justify-content: flex-end;
		line-height: normal;
	}
	.cust-prof-edit-row {
	  	line-height: 35px;
	}
	.cus-prof-popup{
		width:310px;
		left:-180px;
	}
	.cus-prof-popup:before{
		left:195px;
	}
	.cust-prof-edit-row input,.pop-up-header{
		height: 35px;
		line-height: 35px;
	}
	.overlay-popup-wrapper {
		width: 300px;
	}
	.cus-name {
		line-height: 15px;
		display: inline-table;
	}
	.create-user-popup{
		width: 310px;
		left: -65px;
	}
	#ms-add-member-popup .create-user-popup {
		right: -20px;
	}
	.create-user-popup-cont{
		width: 100%;
	}
	.create-user-popup-label {
		width: 90px;
		padding-right: 10px;
		text-align: right;
		height: 40px;
		line-height: 20px;
		display: table-cell;
		vertical-align: middle;
	}
	.create-user-popup-input{
		width: 190px;
	}
	.ms-team-member-th, .ms-team-member-tr{
    	width:210px;
    }
    .payment-details-wrapper{
    	width:320px;
    }
    .payment-dropin{
    	width:280px;
    }
	.payment-submit-btn {
		margin-left: 15px;
	}
	.payment-btn {
		width: 125px;
		font-size: 14px;
		margin-top: 20px;
		border: none;
	}
	.payment-cancel-btn {
		margin-right: 15px;
	}
	#ms-add-member-popup .add-team-mem-header{
		margin-bottom: 0;
	}
	#ms-add-member-popup{
		left: -60px;
		width:310px;
	}
	#ms-add-member-popup .add-member-sel,#ms-add-member-popup .add-member-sel-search
		{
		width: 100%;
	}
	.reg-input-row {
		width: 320px;
	}
	.reg-input-row .reg-lname{
		margin-right: 10px;
	}
	.loan-summary-sub-col-detail{
		float: none;
	}
	.sm-save-btn {
		margin: 5px 0 0 0;
		float: none;
		width: 40px;
		padding: 0;
		text-align: center;
	}
	.login-container{
		margin-top: 60px;
	}
	.display-title {
		font-size: 22px;
		line-height: 50px;
	}
	.display-title-subtxt{
		font-size: 15px;
	}
	.reg-input-row{
		padding: 0;
	}
	.alert-popup-cont {
		max-width: 205px;
	}
	.alert-popup-wrapper {
		width: 280px;
	}
	.alert-popup-cont-wrapper {
		right: -80px;
	}
	.alert-popup-cont-wrapper:before {
		right: 93px;
	}
	.filter-dropdown-item{
		padding-left: 10px;
		font-size: 11px;
	}
	.soft-menu-icon{
		margin-right: 10px;
	}
	.reg-display-title{
		font-size: 24px;
	}
	.login-row-rc {
		width: 100%;
	}
	.footer-text1{
		width : 80%;
		padding: 0 5px 5px;
	}
	.footer-wrapper-container{
		padding-right: 5px;
	}
	.pgwSlideshow{
		width: 95%;
	}
	.slider-prev-next-btn-row {
	    width: 95%;
	}
	.slider-btn{
		width: 110px;
	}
	.getting-to-know-row{
		padding-left: 10px;
	}
	.getting-to-know-btn {
	    width: 240px;
	    font-size: 14px;
	    float: left;
	}
	.ce-cp{
		padding: 0 10px;
	}
	.ce-option-ques-wrapper {
		margin: 0 0 15px 0;
		padding: 0;
		width: 95%;
	}
	.ce-sub-option-wrapper .ce-option-text {
		font-size: 15px;
	}
	.ce-option-ques-wrapper .ce-rp-ques-text{
		font-size: 13px;
	}
	.ce-input{
		font-size: 15px;
	}
	.add-account-btn {
	    margin: -5px 0 20px 0px;
	}
	.ce-option-checkbox{
		font-size: 15px;
	}
	.loan-manager-popup {
		margin-left: -50px;
	}
	.month-cont {
	    width: 90px !important;
	}
	.per {
		margin: 0 5px;
	}
	.cust-personal-info-header {
		padding: 10px;
	}
	.ce-title-firstPage {
		font-size: 26px;
	}
	.ce-get-started {
		font-size: 26px;
	}
	.ce-ques-wrapper_firstPage{
		padding: 0;
	}
	.reg-display-title {
		margin-top: 10px;
	}
	.reg-input-cont {
		width: 280px;
	}
	.rate-btn-alertRate {
		padding-right: 10px;
		width: 160px;
	}
	.loan-summary-header-col1 {
		width: 125px;
	}
	.login-container {
		margin-bottom: 35px;
	}
	.rt-grid-item {
		font-size: 11px;
	}	
	.cus-eng-succ-mess-row {
		white-space: normal;
		padding: 5px 20px;
		text-align: left;
	}
	.eng-indent {
	 	padding: 10px 0 10px 10px;
	}
	.first-column {
		padding: 0;
		width: 25%;
	}
	.first-column img[name="seal"] {
		width: 50px;
		margin-top: 10px;
		margin-left: 10px;
	}
	.second-column {
		width: 55%;
	}
	.second-column * {
		font-size: 10px;
	}
	a.footer-inline-txt {
		display: inline-block;
	}
	.third-column {
		width: 20%;
	}
	
	.forget-pass-adj {	
		padding:36px 0;
	}

	.reg-display-title-subtxt {
		text-align: left;
		width: 453px;
		font-size: 12px;
	}
}
















.content-header-err {
    font-size: 16px;
    color: #E82828;
    padding: 0 15px;
}
