
.reg-input-cont{
	width: 300px;
	height: 45px;
	border:1px solid #dcdcdc;
	background-color: #fafafa;
	background-repeat:no-repeat;
	background-position:10px center;
	border-radius:3px;
	margin: 25px auto;
	padding-left: 40px;
}

.reg-input{
	width: 100%;
	height: 100%;
	padding:10px 0;
	border:none;
	background: transparent;
	font-size:14px;
	line-height: normal;
}

.reg-btn-wrapper{
	width: 205px;
	height: 40px;
	line-height: 40px;
	margin: 15px auto;
}
.reg-btn:hover{
	background-color:#F37521;
}

.reg-btn {
    width: 100%;
    margin: 0px auto;
    background: #6c9f2e;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-family: 'opensanssemibold';
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
}
.reg-chg-width{
	  margin: 0 0 0 -84px;
	
}
.reg-display-title {
	text-align: center;
	font-size: 32px;
	line-height: 70px;
	margin-top: 41px;
	color:#606060;
}

.reg-display-title-subtxt{
	width: 550px;
	line-height: 20px;
	font-size: 14px;
	margin: 5px auto;
	text-align: center;
	margin-bottom: 45px;
	font-family: 'opensanssemibold';
}
.cus-eng-reg{
	width: 338px;
}
.reg-fname{
	background-image:url(../images/fname.png); 
}

.reg-lname{
	background-image:url(../images/lname.png); 
}

.reg-email{
	background-image:url(../images/email.png); 
}
.reg-phone{
	background-image:url(../images/phone-15-10.png); 
}
.reg-btn-cont {
	width: 300px;
	margin: 0 auto;
}

.reg-radio-btn-wrapper {
	margin: 10px 0;
}

input.reg-radio {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.soft-menu-icon{
    width: 44px;
    height: 50px;
    margin-right: 20px;
    background: url("../images/menu.png") no-repeat center;
    cursor: pointer;
}

.soft-menu-wrapper{
    display: none;
    position: absolute;
    top: 51px;
    right: 10px;
    width: 200px;
    background: #428bca;
    border-radius: 0 0 3px 3px;
    color: #fff;
}

.soft-menu-hdr{
	  line-height: 37px;
	  margin-left: 15px;
	  margin-bottom: 6px;
	  font-size: 14px;
}

.reg-header-btns-wrapper{
    color: #fff;
}

.reg-option-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fafafa;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 3px 3px;
}

.reg-select {
    position: relative;
    cursor:pointer;
    background: url(../images/arrow_down.png) no-repeat right center #fafafa;  
}

.reg-select-option {
    padding-left: 40px;
    cursor: pointer;
}

.reg-select-option:hover {
	background-color: #fff;	
}

.reg-option-selected {
	  height: 100%;
	  background-color: #FAFAFA !important;
	  border-bottom: inherit;
	  border: none;
	  width: 100%;
	  font-size:14px;
}
.reg-form-content{
	  width: 300px;
      margin: 0 auto;
}
.reg-input-row {
    height: 45px;
    line-height: 45px;
    margin-bottom: 25px;
}

.reg-row-lc,.reg-row-rc {
    width: 50%;
}

.reg-row-lc {
    text-align: right;
    padding-right: 15px;
    font-size: 15px;
}

.reg-row-rc{
	padding-left: 15px;
}

.reg-input-row .reg-input-cont{
	  width: 280px;
	  margin: 0;
}

.reg-input-row .reg-lname{
	/* margin-left: 20px; */
}

.reg-input-row .reg-fname,
.reg-input-row .reg-lname{
	width: 280px;
}

.reset-password {
    width: 160px;    
    height: 40px;    
    line-height: 40px;    
    font-size: 16px;    
    color: #fff;    
    background-color: #6c9f2e;    
    border-radius: 3px;    
    text-align: center;    
    text-transform: capitalize;    
    cursor: pointer;    
    font-family: 'opensanssemibold';
}

.cancel-btn {
    width: 120px;    
    height: 40px;    
    line-height: 40px;    
    font-size: 16px;    
    color: #fff;    
    background-color: #6c9f2e;    
    border-radius: 3px;    
    text-align: center;    
    text-transform: capitalize;    
    cursor: pointer;    
    font-family: 'opensanssemibold';
}

.reg-input-reset-password{
  width: 300px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 3px;
  margin: 20px auto;
  padding-left: 40px;
  margin-bottom: 30px;
}

.change-input-reset-password{
  width: 300px;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin: 20px auto;
  padding-left: 40px;
/*   margin-bottom: 30px; */
  background-size: 16px auto;
  margin-top:40px;
}

.reset-error {
	padding: 5px 18px;
	background-color: #fff;
	line-height: 18px;
	height: auto;
	font-size: 12px;
	border: 1px #dd4b39 solid;
	border-left-width: 7px;
	width: 300px;
	margin: 20px auto;
	cursor: pointer;
}
.err-input {
  border: 1px solid #dd4b39;
}

/*added for reset password */
.forget-pass-btn-wrapper {
    width: 300px; 
    max-width: 100%;   
    height: 40px;    
    line-height: 40px;    
    margin: 39px auto;
}

.ce-err-input{
	  border: 1px solid #dd4b39;
}
.realtor-row {
  	  margin: 25px auto;
}

.color-change{
	  background-color: rgba(24,72,141,0.9);
}

.color-change:hover {
    background: #F47521;
}

.page-header-loan{
	font-size: 16px;
	font-family: 'opensanssemiBold';
	margin-right: 5px;
	white-space: nowrap;
	line-height: 45px;
	padding-left: 10px;
	border-radius: 3px;
	font-size: 16px;

}
.page-header-loan-dashboard{
	font-size: 16px;
	font-family: 'opensanssemiBold';
	margin-right: 5px;
	white-space: nowrap;
	line-height: 45px;
	padding-left: 10px;
	border-radius: 3px;
	font-size: 16px;
}
.rate-btn-alertRate-header {
	
	font-size:14px;
	font-family:'opensanssemiBold';
	width: 148px;
	background: url(../images/mail-new.png) no-repeat 15px;
	background-size: 15px;
	margin-top: 6px;
	padding-left: 33px;

}

.ms-add-member-popup-adjustment:after {
	right:0;
	left:12px;
}

.loan-summary-header-col2-adjustment {
	font-size: 11px;
  	margin: 0 10px;
}

.loan-summary-header-column-right {
	width: 200px;
	padding-right: 10px;
}

.loan-summary-header-col2-teaser-adj {
	width: 110px;
	margin: 0 auto;
}

.closing-cost-cont-desc-header-adj {
	border-left: 1px #E9E9E9 solid;
	border-right: 1px #E9E9E9 solid;
	border-top: 1px #E9E9E9 solid;
}

/* NEXNF-619 */
.cep-button-color-orange {
	background: lightgray;/*7.2 portal updates  */
}

.cep-button-color-orange:hover {
	background: #F47521;/*7.2 portal updates  */
}
/* NEXNF-619  end */

.cus-eng-success-message {
  margin: 110px 0;
  width: 100%;
}
.cus-eng-succ-mess-header {
  font-family: opensanssemiBold;
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
}

.cus-eng-success-mess-container {
  margin: 0px auto;
  text-align: left;
}

.cus-eng-succ-mess-row {
  font-family: openSans;
  font-size: 14px;
  padding: 3px 0;
  text-align: center;
}

a.cus-eng-succ-mess-email {
  font-family: openSans;
  font-size: 14px;
  color: blue;
}


.cus-eng-success-message-adjust {
	display: block;
	float: left;
	margin: 90px 0 0;
	width: 74%;
	padding: 10px;
}

.cus-eng-succ-mess-row-adjust {
	white-space: normal;
}

.reg-display-title-subtxt-adj {
	margin-bottom: 0;
}

.sub-text-change-pwd {
	padding: 0;
	margin: 0 auto;
	/* width: 828px; */
	line-height: 0;
	font-size: 14px;
}

.referal-sub-txt {
	width: 349px;
}

.cust-profile-url-dash {
	line-height: 35px;
}

.cus-eng-success-message-new-adjust {

  margin: 150px auto;
  width: 100%;
  padding: 0;
}

.txt-font-family {
	font-family: 'openSanssemiBold';
	font-size: 14px;
}

.prof-note-txt {
  width: 100%;
  padding: 20px 15px;
  text-align: left;
  margin: 0px auto;
  font-family: opensanssemiBold;
  color: rgb(221, 75, 57);
}

.prof-note-txt-chg-pwd {
	width: inherit;
	padding: 25px 0 0 0;
	text-align: center;
  
}

.upload-files {
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	display: inline;
	color: #428bca;
	cursor: pointer;
}

.lp-item-quick-quote {
    height: 40px;
    margin: 5px auto;
    clear: both;
    display: block;
    line-height: 40px;
    color: #fff;
    background-color: #F47521;
    border: 1px #fff solid;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    width: 211px;
    cursor: pointer;
    border-bottom: 1px #dcdcdc solid;
}

.lp-item-adj {
	/* border-top: 1px solid #dcdcdc; */
}

.notification-time {
	width: 90%;
	padding-left: 36px;
}

.lp-item-body-top-row-adj {
	display: block;
	font-family: 'opensanssemiBold';
}

.lp-my-archives,.lp-my-loan {
    padding: 20px 5px;
    
}

.quick-quote-header {
    margin-left: 10px;
}

.quick-quote-col {
    height: 40px;      
    margin: 10px 25px;            
    display: block;            
    line-height: 40px;      
    color: #fff;      
    background-color: rgba(24, 72, 141, 0.9);      
    border: 1px #fff solid;      
    border-radius: 3px;      
    text-align: center;      
    font-size: 16px;      
    width: 161px;
    cursor: pointer;
}

.quick-quote-button-section {
    width: 635px;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
}

.quick-quote-row-LHS {
    font-family: openSans;
    font-size: 14px;
    text-align: left;
    width: 185px;
    padding: 0 20px;
    line-height: 35px;
    height: 35px;
}

.quick-quote-row {
    width: 498px;
    margin: 20px auto;
}

.quick-quote-row-RHS {
    font-family: openSans;
    font-size: 14px;
    width: 35%;      
    text-align: left;
    height: 35px;            
    padding-left: 15px;      
    background-color: #fafafa !important;      
    border: 1px #E2E2E2 solid;      
    border-radius: 3%;
    line-height: 35px;
}

.quick-quote-button[isSelected="true"] {
    background: #F47521;
}

.quick-quote-question-section-LHS {
    /* border: 1px solid #dcdcdc; */
    margin: 10px;
    min-height: 140px;
    width: 45%;
}

.quick-quote-question-section {
    width: 100%;
    margin: 20px 30px;
    min-height: auto;
}

.quick-quote-question-section-RHS {
    /* border: 1px solid #dcdcdc; */
    margin: 10px;
    min-height: 140px;
    width: 45%;
}

.quick-quote-row-LHS-adj {
	line-height: 20px;
}

.quick-qoute-btn {
    height: 40px;      
    margin: 25px auto;      
    display: block;      
    line-height: 40px;      
    color: #fff;      
    background-color: rgba(24, 72, 141, 0.9);      
    border: 1px #fff solid;      
    border-radius: 3px;      
    text-align: center;      
    font-size: 16px;      
    width: 161px;      
    cursor: pointer;
}

.quick-quote-option-selected {
    height: 35px;      
    padding-left: 10px;      
    line-height: 35px;      
    border: 1px solid #dcdcdc;      
    border-radius: 3px;      
    background: url(../images/down-arrow.png) no-repeat right center;            
    font-size: 14px;      
    cursor: pointer;            
    overflow: hidden;      
    text-overflow: ellipsis;      
    white-space: nowrap;      
    padding-right: 20px;      
    text-transform: inherit;
}

.quick-quote-dropdown-cont {
    position: absolute;      
    width: 173px;      
    height: auto;
    margin: 0 auto;
    border: 1px solid #dcdcdc;      
    border-radius: 3px;      
    background: #fff;      
    margin: 42px 0 0 186px;
}

.quick-quote-option-sel {
    min-height: 30px;      
    padding: 10px 0 5px 10px;      
    line-height: normal;      
    font-size: 14px;      
    cursor: pointer;
}

.quick-quote-yesno-container {
    position: relative;
    width: 100%;
}

.quick-quote-lock-period-container {
    position: relative;
    width: 100%;
}

.quick-quote-yes-no-container {
    display: inline-block;      
    width: 75px;      
    height: 30px;      
    line-height: 30px;      
    margin-top: 4px;      
    text-align: center;      
    margin-right: 10px;      
    color: #fff;      
    background: #6c9f2e;      
    border-radius: 3px;      
    font-size: 14px;      
    text-transform: capitalize;      
    cursor: pointer;
}

.month-year-row-adj {
    /* width: 100px; */
}

.month-year-drop-down-row {
    width: 100px;
    background: url(../images/down-arrow.png) no-repeat right center;
    cursor: pointer;
}

.quick-quote-text {
    margin: 5px;
}

.quick-quote-dropdown-cont-adj {
    width: 100px;
    margin-left: 313px;
}

.quick-quote-details-header {
    margin: 20px 0 0 10px;

}

.quick-quote-teaser-rate-container {
    margin: 20px 10px;
    width: 99%;
}

.quick-quote-dwn-payment {
	width: 117px;
}

.quick-quote-dwn-percentage {
    width: 55px;
    padding-left: 5px;
    background: url(../images/percentagesy.png) no-repeat #fafafa right;
    background-size: 12px;
    margin-right: 10px;
    text-align: right;
    padding-right: 17px;
    font-size: 14px;
    height: 35px;
    background-color: #fafafa !important;
    border: 1px #E2E2E2 solid;
    border-radius: 3%;
    line-height: 35px;
}

.err-msg-quick-quote {
    width: 126px;
    margin: 0 auto;
}

.profile-header-dwn-icon {
	margin: 5px 0;
}

.month-adj {
	width: 51px;
	margin: 0 5px;
}

.quick-quote-yes-btn {
    margin: 10px 12px 10px 0;
    padding-left: 20px;
}

.quick-quote-30-lock-period-btn {
    margin: 10px 35px 10px 0;
    padding-left: 20px;
    white-space: nowrap;
}

.quick-quote-no-btn {
    margin: 10px 10px;
    padding-left: 20px;
}

.quick-quote-45-lock-period-btn {
    margin: 10px 10px;
    padding-left: 20px;
    white-space: nowrap;
}

.quick-quote-header-pdf {
    font-family: 'opensanssemiBold';
    margin-right: 5px;
    white-space: nowrap;
    line-height: 35px;
    cursor: pointer;
    width: 120px;      
    color: #fff;      
    font-size: 15px;      
    text-align: center;            
    margin: 7px;      
    border-radius: 3px;
}
.leads-col-3, .leads-col-4,.leads-col-5,.leads-col-7{
    width: 12%;
}

.leads-col-processor{
	width: 13%;
}

.leads-col-1 {
	width: 14%;
}

.leads-col-8 {
	width: 70px;
}

.leads-col-9{
	width: 110px;
}

.leads-row-1 {
    width: 161px;
   /*  word-break: break-word; */
}


.leads-row-2 {
    width: 18%;
    word-break: break-word;
    margin-right: 25px;
}

.leads-row-1 {
    width: 10%;
}
.leads-row-4  {
    width: 11%;
}

.quick-quote-rhs-label{
	font-size: 14px;
    padding: 0 5px;
}   
.append-leads-icon {
    background: url(../images/potential_customer.png) no-repeat 5px center;
    background-size: 15%;
}

.lp-item-active .append-leads-icon {
	  background: url(../images/potential customer_White.png) no-repeat 5px center;
	  background-size: 15%;
} 
.sort-list-dsc {
      background: url(../images/dd_arr_down.png) no-repeat 65px;
      cursor: pointer;
}

.loan-status-sort-list-dsc {
      background: url(../images/dd_arr_down.png) no-repeat 80px;
      cursor: pointer;
}

.opened-sort-list-dsc {
      background: url(../images/dd_arr_down.png) no-repeat 55px;
      cursor: pointer;
}

.last-action-sort-list-dsc {
      background: url(../images/dd_arr_down.png) no-repeat 75px;
      cursor: pointer;
}

.loan-advisor-sort-list-dsc {
      background: url(../images/dd_arr_down.png) no-repeat 85px;
      cursor: pointer;
}

.sort-list-asc {
      background: url(../images/upwrd.png) no-repeat 65px;
      cursor: pointer;
}

.loan-status-sort-list-asc {
      background: url(../images/upwrd.png) no-repeat 80px;
      cursor: pointer;
}

.loan-advisor-sort-list-asc {
      background: url(../images/upwrd.png) no-repeat 85px;
      cursor: pointer;
}

.opened-sort-list-asc {
      background: url(../images/upwrd.png) no-repeat 55px;
      cursor: pointer;
}

.last-action-sort-list-asc {
      background: url(../images/upwrd.png) no-repeat 75px;
      cursor: pointer;
}

.sort-up-arrow-45 {
      background: url(../images/upwrd.png) no-repeat 45px;
      cursor: pointer;
}

.sort-down-arrow-45 {
      background: url(../images/dd_arr_down.png) no-repeat 45px;
      cursor: pointer;
}

.sort-up-arrow-78 {
      background: url(../images/upwrd.png) no-repeat 78px;
      cursor: pointer;
}

.sort-down-arrow-78 {
      background: url(../images/dd_arr_down.png) no-repeat 78px;
      cursor: pointer;
}


.leads-container-row-tc6 {
	width: 91px;
}
.leads-container-row-tc5 {
	width: 141px;
}

.grey-edit {
    background: url(../images/grey-edit.png) no-repeat;
    height: 23px;
    width: 23px;
    cursor: pointer;
    background-size: 18px;
    margin-top: 4px;
    margin-left: 9px;
}

.blue-edit {
    background: url(../images/blue-edit.png) no-repeat left;
    height: 25px;
    width: 17px;
    cursor: pointer;
    /* margin-top: 5px; */
    /* margin-left: 20px; */
    background-size: 86%;
    height: 23px;
    width: 23px;
    cursor: pointer;
    background-size: 18px;
    margin-top: 0px;
    margin-left: 12px;
}


.leads-user-created {
    background: url(../images/added_user.png) no-repeat;
    margin-left: 2px;
    background-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-top: 5px;
}
.leads-col-6 {
    width: 12%;
}
.leads-row-7 {
 	width: 10%;
}
.leads-col-2 {
    width: 15%;
}

.leads-row-5 {
    width: 11%;
}

.leads-row-6 {
    width: 15%;
}
.discount-update-btn {
    padding-top: 7px;
    display: block;
    background-color: rgba(24, 72, 141, 0.9);
    line-height: 15px;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 15%;
    margin-right: 10px;
    line-height: 20px;
    height: 33px;
    font-family: opensanssemibold;
    cursor: pointer;
}

.closing-cost-credit-adj {
    width: 58%;
}

.discount-update-feild {
   
	display: block;    
	font-size: 14px;    
	color: black;   
	background-color: #fafafa;   
	border: 1px solid #dcdcdc;    
	border-radius: 3px;    
	line-height: 15px;   
	height: 33px;   
	width: 12%;    
	background: url(../images/percentagesy.png) no-repeat right #fafafa;   
	padding-right: 20px;    
	text-align: right;
}

.discount-update-container {
    width: 58%;
    margin: 5px auto;
}

.leads-edit-adj {
    background-color: white !important;
    border: none;
    cursor: not-allowed;
    padding: 0;
}
.leads-pgm-rate-edit-adj {
	border:none;
	background-color: white !important;
}
.leads-row-3 {
    width: 12%;
    margin-left: 20px;
}

.leads-row-9 {
    background: url(../images/lead.png) no-repeat right center;
    cursor: pointer;
    height: 23px;
    width: 20px;
    z-index: 2;
    background-size: 20px;
}

.leads-row-11 {
    background: url(../images/add_user.png) no-repeat;
    margin-left: 2px;
    background-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-top: 5px;
}

.leaddelCustClas {
	background: url(../images/user_del.png) no-repeat right center;
	background-size: 20px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 25px;
	top:20px;
	z-index: 2;
}
.leads-row-8 {
	width: 7%;
	background: url(../images/notification.png) no-repeat  5px;
	height: 35px;
}
.loan-row {
    background: url(../images/loan.png) no-repeat right center; 
    height: 23px;
    width: 20px;
    z-index: 2;
    background-size: 20px;
}
.lead-loan-tc2 {
	margin-right: 25px;
	width: 18%;
	word-break: break-word;
}
.lead-loan-tc3 {
    margin-left: 20px;
    width: 11%;
}

.leads-row-processor {
	width: 13%;
}

.lead-loan-tc5,.leads-loan-tc1 {
	 width: 18%; 
}
.lead-loan-tc6,.sm-leads-col-tc1 {
	width: 21%;
}
.lead-loan-del {
	right: 33px;
}
.lead-loan-tc7,.sm-leads-col-tc6  {
    width: 10%;
} 

.sm-leads-row-7,.sm-leads-col-tc4,.sm-leads-col-tc5,.sm-leads-col-tc7,.sm-leads-row-5,.sm-leads-row-4,.lead-loan-createddate {
 	width: 9%;
}
.sm-leads-col-tc2 {
	width: 22%;
}
.sm-lead-loan-tc7 {
	width: 9%;
}
.lead-loan-processor  {
 	width: 11%;
 	word-break: break-word;
}
.sm-leads-row-1 {
	width: 18%;
} 
.sm-lead-loan-tc6  {
	width: 11%;
}
.sm-leads-row-6 {
    width: 11%;
}
.margin-botton-10 { 
	margin-bottom: 10px !important; 
}

.margin-right-10 { 
	margin-right: 10px !important; 
}

.milestone-vendor-type-row {
    margin: 5px 0;
    width: 342px;
    min-height: 50px;
    padding: 6px 10px;
}

.milestone-txt-LHS {
	margin: 5px;
	text-align: left;
}
.milestone-dropdown-RHS {
    height: 35px;
    padding-left: 10px;
    line-height: 35px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: url(../images/down-arrow.png) no-repeat right center;
    background-color: #fafafa;
    font-size: 12px;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
    text-transform: inherit;
    width: 141px;
    margin-left: 10px;
}
.milestone-dropdown-container {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
    position: absolute;
    width: 101%;
}

.milestone-dropdown-sel {
    min-height: 30px;
    padding: 5px;
    line-height: normal;
    font-size: 12px;
    cursor: pointer;
}
.milestone-dd-cont {
    width: 42%;
    margin: 35px auto;
    position: relative;
}
.note-container {
    text-align: center;
    color: rgba(255, 0, 0, 0.86);
    font-family: 'opensanssemibold';
}
.lead-loan-tc4 {
	width: 9%;
}

.lead-custmr-name {
	width: 21%;
}

.big-lead-custmr-name {
	width: 28%;
}

.lead-email {
	width: 22%;
	word-break: break-word;
}

.lead-purp {
	width: 9%;
}

.big-lead-purp {
	width: 13%;
}

.lead-last-login {
	width: 9%;
}

.big-lead-last-login {
	width: 13%;
}


