/* ============== SMARTPHONES ==============*/
@media (max-width: 767px) {
	.home-container{
		padding-right: 5px;
		overflow: hidden;
	}
	.left-panel{
		display: none;
		border-right: 1px solid #dcdcdc;
	}
	.right-panel{
		margin-left: 0;
	}
	.center-panel{
		margin-left: 48px;
		padding-left: 10px;
	}
	.lp-t2-txt{
		display: none;
	}
	.lp-t2-wrapper,
	.lp-t2-item,
	.lp-t2-img{
		width: 50px;
	}
	
	.lp-t2-wrapper{
		top:50px;
	}
	
	.lp-t2-item{
		height: 50px;
	}
	.arrow-right{
		bottom: 29px;
		left: 50px;
	}
	.loan-summary-lp{
		border-bottom: 1px #E9E9E9 solid;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		margin-bottom: 10px;
		width: 100%;
		padding:0 10px;
	}
	.closing-cost-cont-wrapper-top, 
	.closing-cost-cont-wrapper-bottom{
		margin-left: 0;
	}
	.closing-cost-desc{
		width: 65%;
	}
	.closing-cost-detail {
		margin-left: 5%;
		width: 30%;
	}
	.rate-program-container-col1,
	.rate-program-container-col3{
		display: none;
	}
	.rate-program-container-col2{
		width: 90%;
		margin: 0 5%;
	}
	.cp-rate-btn, 
	.cp-est-cost-btn{
		font-size: 16px;
	}
	.cp-rate-header-text{
		margin-bottom: 5px;
	}
	.cp-est-header-text{
		padding: 0 10px;
	}
	.cp-rate-header-text,
	.cp-est-header-text{
		font-size: 13px;
	}
	.rate-slider{
		margin-bottom: 15px;
	}
	.logout-btn-txt{
		display: none;
	}
	.left-panel{
		height: 2000px;
		background-color: #fff;
		z-index: 99999;
	}
	.asset-doc-cont,
	.unassign-doc-cont{
		width: 100%;
		padding : 0;
	}
	
	.asset-doc-row{
		padding-left: 20px;
		background-position: 0 5px;
	}
	
	.needed-items-rc{
		display: none;
	}
	.document-cont-col{
		width: 50%;
		padding: 0;
	}
	.file-upload-text-cont1{
		display: none;
	}
	.list-item-icn{
		width: 20px;
	}
	.needed-item-desc{
		padding: 5px 5px;
	}
	.needed-items-lc{
		width: 100%;
	}
	.file-upload-text-cont2{
		line-height: 15px;
		font-size:12px;
	}
	.form-detail-input{
		width: 200px;
	}
	.form-detail-input-sm{
		width: 100px;
	}
	.form-detail-input-lg{
		width: 225px;
	}
	.right-panel-messageDashboard{
		width:95% !important;
		margin-left: 0;
	}
	.message-wrapper{
		margin-left: 0;
	}
	.message-cont-textinput{
		width: 99%;
		margin-left: 2px;
	}
	.conversation-header{
		margin-left: 0;
	}
	.conversation-container,
	.conversation-container-child{
		padding: 10px;
	}
	.rp-agent-dashboard{
		width: 100% !important;
		margin-left:0;
	}
	.container-row{
		margin-right: 0;
	}
	.agent-customer-list-header{
		margin-left: 10px;
	}
	.customer-list-contianer {
		padding-left: 10px;
	}
	
	.leads-container-tc1{
		width: 40%;
	}
	
	.leads-container-tc2{
		width: 25%;
	}
	
	.leads-container-tc5{
		width: 20%;
	}
	
	.leads-container-tc7{
		width: 15%;
	}
	
	.leads-container-tc3,
	.leads-container-tc4,
	.leads-container-tc6{
		display: none;
	}
	
	.cust-detail-lw,
	.cust-detail-rw{
		width: 100%;
		padding: 0;
	}
	
	.initial-list-doc-wrapper{
		width: 100%;
	}
	
	.add-needs-input-edit{
		width: 90%;
	}
	
	.cus-prof-pic{
		margin-left: 30px;
	}
	
	.cus-prof-detail-lc,.cus-prof-detail-rc{
		width: 255px;
		margin:0 auto;
		float: none;
	}
	
	.cus-detail-rc-title{
		width: 100px;
	}
	
	.cus-detail-rc-value{
		width: 135px;
	}
	.cus-prof-pic-txt{
		margin-left: 20px;
	}
}


/* ============== ANTHING ABOVE SMARTPHONES ==============*/
@media (min-width: 768px) {
    .mobile-slider-container,
	.small-screen-menu-icon{
		display: none;
	}
	.left-panel{
		display: block !important;
	}
	.file-upload-text-mobile{
		display: none;
	}
}


/* ============== ONLY TABLETS ==============*/
@media (min-width: 768px) and (max-width: 991px) {
	.home-container,
	.header-container{
		width: 100%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.closing-cost-cont-wrapper-top, 
	.closing-cost-cont-wrapper-bottom{
		margin-left: 15px;
	}
	
	.rate-program-container-col1,
	.rate-program-container-col2,
	.rate-program-container-col3{
		margin-left:10px; 	
	}
	.rate-program-container-col1{
		width: 19%;
	}
	.rate-program-container-col2{
		width: 50%;
	}
	.rate-program-container-col3{
		width: 22%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.cp-rate-btn, 
	.cp-est-cost-btn{
		font-size: 16px;
		line-height: 35px;
	}
	.cp-est-header-text{
		padding: 0;
		font-size: 13px;
	}
	.cp-rate-header-text{
		font-size: 13px;
		margin-bottom: 5px;
	}
	.rate-slider{
		margin-bottom: 20px;
	}
	.needed-items-rc{	
		display: none;
	}
	.doc-desc{
		height: 80px;
		padding: 5px 0;
	}
	.form-detail-input-lg{
		width: 240px;
	}
	.agent-customer-list-header{
		margin-left: 10px;
	}
	.customer-list-contianer{
		padding-left: 10px;
	}
	.leads-container-tc6{
		display:none;
	}
	.leads-container-tc1{
		width: 35%;
	}
	.leads-container-tc2,.leads-container-tc3,.leads-container-tc4{
		width: 15%;
	}
	.leads-container-tc7,.leads-container-tc5{
		width: 10%;
	}
	.cus-name{
		padding-left: 10px;
	}
	.cus-detail-rc-title{
		width: 45%;
		padding-right: 5px;
	}
	.cus-detail-rc-value {
		width: 55%;
		padding-left: 5px;
	}
	.cus-prof-pic-txt{
		width: 100px;
	}
	.cus-prof-detail-rc{
		width: 230px;
	}
	.add-needs-input-edit{
		width: 90%;
	}
	.prof-form-input{
		width: 180px;
		margin-right: 10px;
	}
	
	.prof-form-input-sm{
		width: 125px;
	}
	
	.prof-form-input-lg{
		width: 300px;
	}
	.add-member-sel,.add-member-sel-search{
		float: left;
	}
}


/* ============== MEDIUM SIZED SCREENS ==============*/
@media (min-width: 992px) and (max-width: 1199px) {
	.home-container,
	.header-container{
		width: 100%;
	}
	.rate-program-container-col1{
		width: 16%;
	}
	.rate-program-container-col2{
		width: 50%;
	}
	.rate-program-container-col3{
		width: 19%;
	}
	.loan-summary-lp,
	.loan-summary-rp{
		padding: 0 10px;
	}
	.leads-container-tc1{
		width : 25%
	}
	.leads-container-tc2{
		width : 15%
	}
	.leads-container-tc3{
		width : 15%
	}
	.leads-container-tc4{
		width : 15%
	}
	.leads-container-tc5{
		width : 10%
	}
	.leads-container-tc6{
		width : 12%
	}
	.leads-container-tc7{
		width : 8%
	}
	.cus-name {
		padding-left: 10px;
	}
	.add-member-input-cont {
		padding-right: 10px;
	}
}


/* ============== LARGE SIZED SCREENS ==============*/
@media (min-width: 1200px) {
    .center-panel{
    	width: 840px !important;
	}
	.right-panel-messageDashboard{
		width:939px !important;
	}
	.rp-agent-dashboard{
		width:939px !important;
	}
}



@media (max-width: 475px) {
	.loan-summary-header-col2{
		display: none;
	}
	.form-detail-row-desc{
		width: 100%;
		text-align : left;
		padding-left: 10px;
	}
	.form-detail-row-value,
	.form-detail-row-name{
		width:50%
	}
	.form-detail-row-name{
		padding-right: 10px;
	}
	.save-app-btn{
		width : 150px;
	}
	.form-detail-edit,
	.form-detail-input{
		width: 100%;
	}
	.edit-form{
		padding: 0 5px;
	}
	.application-form-header{
		padding-left: 5px;
	}
	.application-form-header-col1,
	.form-progress,
	.progress-span-text,
	.edit-form{
		font-size: 10px;
	}
	.est-credit-row{
		padding-left: 0;
		text-align: center;
	}
	.form-detail-edit-row{
		padding: 0;
	}
	.doc-desc{
		height: 80px;
		padding: 5px 5px;
	}
	.uploaded-items-container{
		padding-left: 0;
	}
	.needed-items-container {
		margin: 0;
	}
	.alert-btn{
		margin-right: 5px;
	}
	.dt-picker-text{
		display: none;
	}
	.date-picker-cont{
		width: 50%;
		padding-left: 0;
		padding-right: 5px;
		
	}
	.time-picker-cont{
		width: 50%;
		padding-left: 5px;
	}
	.cust-detail-container{
		padding: 10px;
	}
	.agent-customer-list-header{
		padding-left: 10px;
	}
	.filter-text{
		display: none;
	}
	.leads-container-row{
		padding: 15px 5px;
	}
	.onl-status-icn{
		width: 10px;
		height: 10px;
	}
	.cus-name{
		padding-left: 10px;
	}
	.cus-img-icn{
		width: 25px;
		height: 35px;
		background-size:25px auto;
	}
	.filer-dropdown{
		width:70px;
		margin-left: 5px;
		padding-left: 10px;
	}
	.search-input{
		width: 70px;
	}
	.add-needs-input-row{
		width: 100%;
	}
	.add-needs-input-edit{
		width: 100%;
	}
	.initial-list-doc-wrapper,.add-needs-wrapper,.need-list-save-btn-wrapper{
		padding-left: 10px;
	}
	
	.newfi-team-list-tr-col1,.newfi-team-list-tr-col2{
		width: 40%;
	}
	.newfi-team-list-tr-col3{
		display: none;
	}
}


































.content-header-err {
    font-size: 16px;
    color: #E82828;
    padding: 0 15px;
}
