.admin-add-team-mem-header {
	height: 45px;
	line-height: 45px;
	margin-bottom: 20px;
	padding-left: 20px;
	background-color: #EAF5FD;
	font-size: 14px;
	font-family: 'opensanssemibold';
}

.alert-popup-wrapper-settings {
	position: absolute;
	right: -2px;
	top: 44px;
	background: #fff;
	width: 175px;
	color: #777;
	border-radius: 3px;
	cursor: auto;
	box-shadow: 0px 0px 5px #dcdcdc;
}
.admin-error-wrapper {
    margin-bottom: 15px;
	display:none;
}
.admin-display{
display: block;

}
.admin-error-container {
    background: #FFC2C2; 
    color: #dd4b39;
    border-radius: 5px;
    padding: 10px 15px 15px 0;
}
.admin-error-list-list-tr {
  margin-left: 25px;
  padding-top: 10px;
  background: url(../images/error.png) no-repeat 0 9px;
  background-size: 17px;
  padding-left: 28px;
}
.admin-add-team-mem-wrapper{
	margin-bottom: 10px;	
}
.admin-search-icn {
	width: 18px;
	height: 18px;
	margin: 10px 22px 0 0px;
	background: url(../images/search_icon.png) no-repeat center;
	cursor: pointer;
}
.admin-search-input {
	width: 140px;
	line-height: 32px;
	border: none;
	background: transparent;
	padding-right: 10px;
	/* cursor: pointer; */
}
.admin-add-member-dropdown-cont{
	position: absolute;
	width: 100%;
	left: 0;
	top: 29px;
	max-height: 200px;
	background-color: #fdfdfd;
	border-top: none;
	border-radius: 0 0 3px 3px;
	padding: 5px 0;
	box-shadow: 0px 0px 5px #dcdcdc;
}
.admin-create-user-popup-label {
  width: 90px;
  padding-right: 10px;
  text-align: right;
  text-transform: capitalize;
}
.admin-add-member-dropdown-row {
	padding-left: 20px;
	line-height: 30px;
	height: 30px;
	background-color: white;
	cursor: pointer;
}
.admin-label-class{
	line-height: 40px;
	padding-left: 0px;
	padding-right: 15px;
	font-family: 'OpenSans';

}
.admin-span-class{
    font-family: 'openSans';
    line-height: 30px;
    margin-right: 57px;
    padding-left: -17px;
}
.alert-popup-wrapper-settings:before {
	position: absolute;
	top: -7px;
	right: 15px;
	content: " ";
	width: 18px;
	height: 8px;
	background: url(../images/up-arrow.png) no-repeat center;
}

.admin-pop-up-header {
	line-height: 32px;
	line-height: 32px;
	padding-left: 13px;
	font-family: 'opensanssemibold';
	font-size: 12px;
	border-bottom: 1px solid #CECECE;
	background: url(../images/Settings-Gear-light-gray.png) no-repeat right;
	background-origin: content-box;
	padding-right: 10px;
}

.input-file-admin {
  opacity: 0;
  cursor: pointer;
  z-index: -1;
  height: 35px;
  /* left: 966px; */

  /* position: relative; */
  /* float: left; */
  padding-left: 27px;
  margin-top: -15px;
  /* width: 0px; */
}
 .admin-module-row-content{
  height: 32px;	
  padding: 0px 0px 5px 15px;
  border-bottom: 1px solid #F5F5F5;
  line-height: 32px;
  font-size: 12px;	
 -webkit-box-shadow: 0 1px px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);    
  color: #428bca;
}
.adminUM-user-edit-profile-wrapper{
	width:100%;
	margin-bottom:10px;
	
}

.adminUM-user-edit-profile-container-new{
	  height: 244px;
	  padding: 10px 0;
	  background-color: #E9F0F8;
	  overflow: hidden;	
	  margin-top: 10px;
}

.adminUM-user-edit-profile-header{
	text-align: center;
	font-family: openSanssemiBold;
	font-size: 16px;
} 

.adminUM-state-dropdown-wrapper {
    position: absolute;            
    margin: 0px 480px;
    margin-top: 1px;
    width: 100px;    
    max-height: 120px;    
    background: #fafafa;    
    z-index: 222;    
    border: 1px solid #cecece;    
    border-radius: 0 0 3px 3px;
}
.adminUM-user-edit-profile-left-wrapper{
	padding-right: 11px;
    width: 50%;
}
.adminUM-user-edit-profile-left-container{
	background-color: #E9F0F8;
	  /* width: 100%; */
	height: auto;
	padding: 10px 10px;
}

.adminUM-user-edit-profile-right-wrapper{
	
    width: 50%;
}

.adminUM-user-edit-profile-right-container{
	  background-color: #E9F0F9;     
	  height: 277px;
	  padding: 10px 10px;
}

.adminUM-user-upload-profile-image{
	  margin-top: 20px;
	  
}

.adminUM-agent-assigned-img {
	  width: 125px;
	  height: 125px;
	  margin: 0 auto;
	  margin-bottom: 5px;
	  background: url(../images/person-placeholder.png);
	  background-color: #fff;
	  border-radius: 138%;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  cursor: pointer;
}
.adminUM-agent-default-img {
	  margin: 0 auto;
	  font-size: 35px;
	  border: 1px solid;
	  border-radius: 50%;
	  height: 150px;
	  width: 150px;
	  line-height: 146px;
	  text-align: center;
	  margin-bottom: 5px;
	  cursor: pointer;
}
.adminUM-user-upload-profile-image-row-text {
	text-align: center;
	margin: 10px auto;
	font-family: openSanssemiBold;
}

.adminUM-user-edit-profile-row {
    line-height: 40px;    
    padding: 10px 0;
}

.adminUM-user-edit-profile-input{
	  width: 100%;    
	  height: 40px;    
	  line-height: 40px;    
	  padding-left: 15px;    
	  background-color: #FAFAFA !important;    
	  border: 1px #E2E2E2 solid;    
	  border-radius: 3px;
}
.adminUM-form-input-sm {
	width: 100px;
}

.adminUM-col-1 {            
    padding-left: 12px;
    white-space: nowrap;
    width: 25%;    
    height: 40px;    
    min-width: 120px;    
    text-align: right;    
    padding-right: 20px;
}

.adminUM-col-2 {
    position: relative;
}

.adminUM-col-two{
	position: relative;
}
.adminUM-cont {
    width: 265px;        
    float: left;
    margin-right: 15px;
}

.adminUM-user-edit-profile-row-yes,.adminUM-user-edit-profile-row-no{
    padding-left: 5px;    
    padding-right: 5px;
}

.adminUM-sumit-button {
    width: 120px;    
    height: 40px;    
    line-height: 40px;    
    font-size: 16px;    
    color: #fff;    
    /* background-color: #6c9f2e; */    
    border-radius: 3px;    
    text-align: center;    
    text-transform: capitalize;    
    cursor: pointer;    
    font-family: 'opensanssemibold';
    margin: 15px auto;
}
.cust-radio-btn-no,.cust-radio-btn-yes {
    margin-top: 11px;
}

.add-user-mem-admin-wrapper {
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
}

.rp-agent-dashboard-admin {
	width: 939px;
	min-height: 800px;
	margin-left: 212px;
	padding-bottom: 50px;
	padding-top: 15px;
	border-left: 1px #bebebe solid;
	padding-left: 15px;
}

.search-input-area {
	height: 40px;
	border: 1px solid #dcdcdc;
	display: none;
}

.search-label-class {
	font-family: 'opensanssemibold';
	font-size: 12px;
	padding-right: 10px;
}

.admin-btn-active {
	background: url(../images/greenToggle.png) no-repeat left;
	background-position: 2px 1px;
	height: 20px;
	cursor: pointer;
	margin-right: 197px;
	border: 1px #d3d3d3 solid;
	width: 40px;
	border-radius: 20px;
	height: 18px;
}

.admin-upload-label {
	line-height: 44px;
	font-family: 'opensanssemibold';
}

.admin-btn-in-active {
	background: url(../images/redToggle.png) no-repeat right;
	background-position: 22px 1px;
	height: 20px;
	cursor: pointer;
	margin-right: 197px;
	border: 1px #d3d3d3 solid;
	width: 40px;
	border-radius: 20px;
	height: 18px;
}

.float-right-admin {
	float: right;
}

.float-left-admin {
	float: left;
}

.prof-cust-save-btn-admin-um {
	position: relative;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #F47521;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 7px;
	padding-top: 0px;
	margin-left: -15px;
}

.prof-cust-upload-btn-admin-um {
	width: 33px;
	background: url(../images/t2-pic4-inactive.png) no-repeat right;
	line-height: 0px;
	border-radius: 3px;
	height: 33px;
	white-space: nowrap;
	font-family: 'opensanssemibold';
	padding-right: 154px;
	margin-right: 10px;
	padding-top: 21px;
	height: 33px;
}

.add-member-input-admin-cont{
	line-height: 45px;
	padding-left: 7px;
	padding-right: 25px;
	font-family: 'opensanssemibold';
}

.add-member-sel-admin {
	position: relative;
	width: 190px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border-radius: 3px;
	background: url(../images/arrow_down.png) no-repeat right center;
	font-family: 'opensanssemibold';
	border: 1px solid #dcdcdc;
	margin-top: 7px;
	margin-left: 15px;
}

.admin-newfi-team-wrapper {
	margin-top: 20px;
	padding-left: 0px;
}

.admin-newfi-team-container {
	padding-left: 0px;
}

.admin-newfi-team-list-th {
	line-height: 45px;
	margin-top: 10px;
	border-top: 1px #cecece dashed;
	background-color: #fcfcfc;
}

.admin-newfi-team-list-th-col1,.admin-newfi-team-list-th-col2,.admin-newfi-team-list-th-col3,.admin-newfi-team-list-th-col4,.admin-newfi-team-list-th-col5
	{
	font-family: 'OpenSans';
	font-weight: normal;
	font-size: 13px;
}

.admin-newfi-team-list-th-col1 {
	margin-left: 41px;
}

.admin-newfi-team-list-th-col2 {
	margin-left: 128px;
}

.admin-newfi-team-list-th-col3 {
	margin-left: 118px;
}

.admin-newfi-team-list-th-col4 {
	margin-left: 220px;
}

.admin-newfi-team-list-th-col5 {
	margin-left: 122px;
}

.admin-newfi-team-list-tr {
	min-height: 40px;
	padding: 10px;
	padding-left: 15px;
	border-top: 1px #dcdcdc dashed;
}
.admin-download-btn {
    font-family: 'opensanssemibold';
    margin-right: 186px;
      background: url(../images/download.png) no-repeat right;
    margin-right: 125px;
    height: 33px;
    cursor: pointer;
    z-index: -1;
}
.admin-newfi-team-list-tr:nth-child(odd) {
	min-height: 40px;
	padding: 10px;
	padding-left: 15px;
	border-top: 1px #dcdcdc dashed;
	background: rgba(245, 249, 245, 0.22);
}

.admin-newfi-team-list-tr-col1 {
	width: 22%;
	margin-left: 24px;
	color:#428bca;
	cursor:pointer;
}
.no-click-col{
	cursor: initial;
	color: rgb(47, 54, 61);
}
.admin-newfi-team-list-tr-col2 {
	width: 20%;
}

.admin-newfi-team-list-tr-col3 {
	width: 28%;
}

.admin-newfi-team-list-tr-col4 {
	width: 19%;
	height: 24px;
}

.admin-newfi-team-list-tr-col5 {
	width: 6%;
	height: 20px;
}

.admin-newfi-team-list-tr-col6 {
	width: 15%;
}

.admin-label-radio-active,.admin-label-radio-in-active {
	font-family: 'opensanssemibold';
}

#admin-create-user-popup.create-user-popup {
	position: absolute;
	width: 660px;
	padding: 10px;
	left: -288px;
}

#admin-create-user-popup.create-user-popup:after {
	bottom: 100%;
	right: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(66, 139, 202, 0);
	border-bottom-color: #428bca;
	border-width: 8px;
	margin-left: -8px;
}
.admin-create-user-popup-input{
  width: 225px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border: 1px #dcdcdc solid;
  border-radius: 3px;
  background-color: #FAFAFA;

}
.admin-create-user-popup-cont{
  width: 50%;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;

}
.create-turn-around-label {
	width: 250px;
	padding-right: 20px;
	text-align: right;
}

.create-turn-around-label-hours {
	width: 75px;
	padding-left: 10px;
}

.create-turn-around-cont {
	width: 50%;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}

.create-turn-around-input {
	width: 50px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border: 1px #dcdcdc solid;
	border-radius: 3px;
	background-color: #FAFAFA;
}

#customer_milestones {
	height: 150px;
}

#manager_milestones {
	padding-top: 20px;
}

.save-button-div {
	width: 110px;
	height: 40px;
	margin: 0 auto;
}


.template-save-button-div {
	width: 300px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}
.ce-err-input {
  border: 1px solid #dd4b39;
}
.admin-err-msg {
  line-height: 15px;
  padding-left: 33px;
  padding-top: 5px;
  color: #dd4b39;
  font-size: 13px;
  text-transform: initial;
}
.loan-type{
	padding-left: 112px;
}
.admin-save-btn {
  margin-top: 13px;
}

.admin-user-edit-profile-wrapper {
    margin: 10px 0;
    /* border-bottom: none; */
}

.admin-newfi-team-list-tr-sel {
    background: rgba(245, 249, 245, 0.93);
}
.carrier-info-display{
	margin: 10px 190px;
}
.err-input{
	border: 1px solid #dd4b39;  
}
@media ( max-width : 1062px) {
	.create-turn-around-label {
		width: 150px !important;
	}
	#manager_milestones {
		border-left: none;
		padding-left: 0px;
	}
	#customer_milestones {
		height: 300px;
	}
}

@media ( max-width : 800px) {
	.create-turn-around-cont {
		width: 100%;
	}
}