.reg-input-cont{
	width: 300px;
	height: 45px;
	line-height: 45px;
	border:1px solid #dcdcdc;
	background-color: #fafafa;
	background-repeat:no-repeat;
	background-position:10px center;
	border-radius:3px;
	margin: 20px auto;
	padding-left: 40px;
}

.reg-input{
	width: 100%;
	height: 100%;
	border:none;
	background: transparent;
}

.reg-btn-wrapper{
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin: 20px auto;
}

.reg-btn {
    width: 100%;
    margin:0 auto;
    background: #6c9f2e;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-family: 'opensanssemibold';
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
}

.reg-display-title {
	text-align: center;
	font-size: 32px;
	line-height: 70px;
	margin-top: 41px;
}

.reg-display-title-subtxt{
	width: 550px;
	line-height: 20px;
	font-size: 14px;
	margin: 5px auto;
	text-align: center;
	margin-bottom: 45px;
}

.reg-fname{
	background-image:url(../images/fname.png); 
}

.reg-lname{
	background-image:url(../images/lname.png); 
}

.reg-email{
	background-image:url(../images/email.png); 
}

.reg-btn-cont {
	width: 300px;
	margin: 0 auto;
}

.reg-radio-btn-wrapper {
	margin: 10px 0;
}

input.reg-radio {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.soft-menu-icon{
    width: 44px;
    height: 50px;
    margin-right: 20px;
    background: url("../images/menu.png") no-repeat center;
    cursor: pointer;
}

.soft-menu-wrapper{
    display: none;
    position: absolute;
    top: 51px;
    right: 10px;
    width: 200px;
    background: #428bca;
    border-radius: 0 0 3px 3px;
    color: #fff;
}

.soft-menu-hdr{
  line-height: 37px;
  margin-left: 15px;
  margin-bottom: 6px;
  font-size: 14px;
}

.reg-header-btns-wrapper{
    color: #fff;
}