.reg-input-cont{
	width: 300px;
	height: 45px;
	border:1px solid #dcdcdc;
	background-color: #fafafa;
	background-repeat:no-repeat;
	background-position:10px center;
	border-radius:3px;
	margin: 25px auto;
	padding-left: 40px;
}

.reg-input{
	width: 100%;
	height: 100%;
	padding:10px 0;
	border:none;
	background: transparent;
	font-size:14px;
	line-height: normal;
}

.reg-btn-wrapper{
	width: 205px;
	height: 40px;
	line-height: 40px;
	margin: 15px auto;
}
.reg-btn:hover{
	background-color:#F37521;
}

.reg-btn {
    width: 100%;
    margin: 0px auto;
    background: #6c9f2e;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-family: 'opensanssemibold';
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
}
.reg-chg-width{
	  margin: 0 0 0 -84px;
	
}
.reg-display-title {
	text-align: center;
	font-size: 32px;
	line-height: 70px;
	margin-top: 41px;
	color:#606060;
}

.reg-display-title-subtxt{
	width: 550px;
	line-height: 20px;
	font-size: 14px;
	margin: 5px auto;
	text-align: center;
	margin-bottom: 45px;
	font-family: 'opensanssemibold';
}
.cus-eng-reg{
	width: 338px;
}
.reg-fname{
	background-image:url(../images/fname.png); 
}

.reg-lname{
	background-image:url(../images/lname.png); 
}

.reg-email{
	background-image:url(../images/email.png); 
}
.reg-phone{
	background-image:url(../images/phone-15-10.png); 
}
.reg-btn-cont {
	width: 300px;
	margin: 0 auto;
}

.reg-radio-btn-wrapper {
	margin: 10px 0;
}

input.reg-radio {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.soft-menu-icon{
    width: 44px;
    height: 50px;
    margin-right: 20px;
    background: url("../images/menu.png") no-repeat center;
    cursor: pointer;
}

.soft-menu-wrapper{
    display: none;
    position: absolute;
    top: 51px;
    right: 10px;
    width: 200px;
    background: #428bca;
    border-radius: 0 0 3px 3px;
    color: #fff;
}

.soft-menu-hdr{
	  line-height: 37px;
	  margin-left: 15px;
	  margin-bottom: 6px;
	  font-size: 14px;
}

.reg-header-btns-wrapper{
    color: #fff;
}

.reg-option-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fafafa;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 3px 3px;
}

.reg-select {
    position: relative;
    cursor:pointer;
    background: url(../images/arrow_down.png) no-repeat right center #fafafa;  
}

.reg-select-option {
    padding-left: 40px;
    cursor: pointer;
}

.reg-select-option:hover {
	background-color: #fff;	
}

.reg-option-selected {
	  height: 100%;
	  background-color: #FAFAFA !important;
	  border-bottom: inherit;
	  border: none;
	  width: 100%;
	  font-size:14px;
}
.reg-form-content{
	  width: 300px;
      margin: 0 auto;
}
.reg-input-row {
    height: 45px;
    line-height: 45px;
    margin-bottom: 25px;
}

.reg-row-lc,.reg-row-rc {
    width: 50%;
}

.reg-row-lc {
    text-align: right;
    padding-right: 15px;
    font-size: 15px;
}

.reg-row-rc{
	padding-left: 15px;
}

.reg-input-row .reg-input-cont{
	  width: 280px;
	  margin: 0;
}

.reg-input-row .reg-lname{
	/* margin-left: 20px; */
k}

.reg-input-row .reg-fname,
.reg-input-row .reg-lname{
	width: 280px;
}

.reset-password {
    width: 160px;    
    height: 40px;    
    line-height: 40px;    
    font-size: 16px;    
    color: #fff;    
    background-color: #6c9f2e;    
    border-radius: 3px;    
    text-align: center;    
    text-transform: capitalize;    
    cursor: pointer;    
    font-family: 'opensanssemibold';
}

.cancel-btn {
    width: 120px;    
    height: 40px;    
    line-height: 40px;    
    font-size: 16px;    
    color: #fff;    
    background-color: #6c9f2e;    
    border-radius: 3px;    
    text-align: center;    
    text-transform: capitalize;    
    cursor: pointer;    
    font-family: 'opensanssemibold';
}

.reg-input-reset-password{
  width: 300px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 3px;
  margin: 20px auto;
  padding-left: 40px;
  margin-bottom: 30px;
}

.change-input-reset-password{

  width: 300px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin: 20px auto;
  padding-left: 40px;
/*   margin-bottom: 30px; */
  background-size: 16px auto;
  margin-top:40px;
}

.reset-error {
	padding: 5px 18px;
	background-color: #fff;
	line-height: 18px;
	height: auto;
	font-size: 12px;
	border: 1px #dd4b39 solid;
	border-left-width: 7px;
	width: 300px;
	margin: 20px auto;
	cursor: pointer;
}
.err-input {
  border: 1px solid #dd4b39;
}

/*added for reset password */
.forget-pass-btn-wrapper {
    width: 300px;    
    height: 40px;    
    line-height: 40px;    
    margin: 39px auto;
}

.ce-err-input{
	  border: 1px solid #dd4b39;
}
.realtor-row {
  	  margin: 25px auto;
}

.color-change{
	  background-color: rgba(24,72,141,0.9);
}

.color-change:hover {
    background: #F47521;
}

.page-header-loan{
	font-size: 16px;
	font-family: 'opensanssemiBold';
	margin-right: 5px;
	white-space: nowrap;
}

.rate-btn-alertRate-header {
	
	font-size:14px;
	font-family:'opensanssemiBold';
	width: 148px;
	background: url(../images/mail-new.png) no-repeat 15px;
	background-size: 15px;
	margin-top: 6px;
	padding-left: 33px;

}

.ms-add-member-popup-adjustment:after {
	right:0;
	left:12px;
}

.loan-summary-header-col2-adjustment {
	font-size: 11px;
  	margin: 0 10px;
}

.loan-summary-header-column-right {
	width: 200px;
	padding-right: 10px;
}

.loan-summary-header-col2-teaser-adj {
	width: 110px;
	margin: 0 auto;
}

.closing-cost-cont-desc-header-adj {
	border-left: 1px #E9E9E9 solid;
	border-right: 1px #E9E9E9 solid;
	border-top: 1px #E9E9E9 solid;
}

/* NEXNF-619 */
.cep-button-color-orange {
	background: #F47521;
}

.cep-button-color-orange:hover {
	background: rgba(24,72,141,0.9);
}
/* NEXNF-619  end */

.cus-eng-success-message {
  margin: 110px 0;
  width: 100%;
}
.cus-eng-succ-mess-header {
  font-family: opensanssemiBold;
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
}

.cus-eng-success-mess-container {
  margin: 0px auto;
  text-align: left;
}

.cus-eng-succ-mess-row {
  font-family: openSans;
  font-size: 14px;
  white-space: nowrap;
  padding: 3px 0;
  text-align: center;
}

a.cus-eng-succ-mess-email {
  font-family: openSans;
  font-size: 14px;
  color: blue;
}


.cus-eng-success-message-adjust {
	display: block;
	float: left;
	margin: 90px 0 0;
	width: 74%;
	padding: 10px;
}

.cus-eng-succ-mess-row-adjust {
	white-space: normal;
}

.reg-display-title-subtxt-adj {
	margin-bottom: 14px;
}

.sub-text-change-pwd {
	padding: 0;
	margin: 0 auto;
	/* width: 828px; */
	line-height: 0;
	font-size: 14px;
}