@media print {
	* {
		-webkit-print-color-adjust: exact;
	}
	.header-logo{
		padding:20px;
		content: url(../images/image003.png);
	}
	.table-wrapper-header{
		background-color: #16365C !important;
		color:#fff !important;
	}
	.rate-table-header{
		background: #004F6E !important;
		color:#fff !important;
	}
	.container{
		width: 8.5in !important;
	}
	.price-table-wrapper-header{
		  background: #538DD5 !important;
		  color:#fff !important;
	}
	.table-container {
		margin: 0 -10px;
	}
	.rate-table-wrapper-cont{
		padding: 0 10px;
	}
	table{
		border-collapse: separate;
		border-spacing: 0;
	}
	.adjuster-table td, .adjuster-table th{
		border-collapse: separate;
		border-spacing: 0;
		border: 1px solid black;
	}
	/* .adjuster-table th {
		background: #0D056F !important;
		color: #fff !important;
	} */
	.print-page-header{
		display: block;
	}
}

.price-table-page-1{
    page-break-before: always;
}

.print-page-header{
	page-break-before: always;
}

table,.rate-table-wrapper-cont,.ltv-table-container {
	page-break-inside: avoid;
}

.ltv-table-container-red-border{
	page-break-inside: avoid;
	border: 2px solid red;
}

@page{
    size:A4 portrait;
}

.table-wrapper:first-child {
    page-break-before: avoid;
}