<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="newFiTicketProcessor" class="com.newfi.nexera.process.NewFiTicketProcessor">
	</bean>
	<bean id="newFiResponseProcessor" class="com.newfi.nexera.process.NewFiResponseProcessor">
	</bean>
	<bean id="restInterceptor" class="com.newfi.nexera.rest.RestInterceptor">
	</bean>
	<bean id="appViewRestInterceptor" class="com.newfi.nexera.rest.AppViewRestInterceptor">
	</bean>
	<bean id="exceptionProcessor" class="com.newfi.nexera.process.ExceptionProcessor">
	</bean>
	<bean id="authenticationRestInterceptor" class="com.newfi.nexera.rest.AuthenticationRestInterceptor">
	</bean>


</beans>