<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="utils" class="com.nexera.util.Utils">
	</bean>

	<bean id="newFiTicketProcessor" class="com.newfi.nexera.process.NewFiTicketProcessor">
	</bean>
	<bean id="xmlProcessor" class="com.newfi.nexera.process.XMLProcessor">
	</bean>
	<bean id="newFiResponseProcessor" class="com.newfi.nexera.process.NewFiResponseProcessor">
	</bean>
	<bean id="newFiDocsResponseProcessor" class="com.newfi.nexera.process.NewFiDocsResponseProcessor">
	</bean>
	<bean id="restInterceptor" class="com.newfi.nexera.rest.RestInterceptor">
		<property name="xmlProcessor" ref="xmlProcessor"></property>
		<property name="utils" ref="utils"></property>
	</bean>
	<bean id="docsRestInterceptor" class="com.newfi.nexera.rest.DocsRestInterceptor">
		<property name="utils" ref="utils"></property>
	</bean>
	<bean id="appViewRestInterceptor" class="com.newfi.nexera.rest.AppViewRestInterceptor">
	</bean>
	<bean id="exceptionProcessor" class="com.newfi.nexera.process.ExceptionProcessor">
	</bean>
	<bean id="authenticationRestInterceptor" class="com.newfi.nexera.rest.AuthenticationRestInterceptor">
	</bean>

	<bean id="abstractLoggingInterceptor" abstract="true">
		<property name="prettyLogging" value="true" />
	</bean>
	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"
		parent="abstractLoggingInterceptor" />
	<bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"
		parent="abstractLoggingInterceptor" />

	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="loggingOutInterceptor" />
		</cxf:outInterceptors>
		<cxf:outFaultInterceptors>
			<ref bean="loggingOutInterceptor" />
		</cxf:outFaultInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inFaultInterceptors>
	</cxf:bus>

</beans>