@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular-webfont.eot')
		format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.ttf')
		format('truetype');
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot')
		format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.ttf')
		format('truetype');
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot')
		format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.ttf')
		format('truetype');
}

* {
	font-family: 'OpenSans';
	font-weight: normal;
	font-size: 12px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	color: #606060;
}

input,textarea {
	outline: none;
	resize: none !important;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.box-border-box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a,a:hover,a:visited {
	text-decoration: none !important;
	color: #262c3a;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.header-wrapper {
    top: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #428bca;
    z-index: 9999;
}

.main-container{
    margin-top: 50px;
}

.header-logo {
    height: 50px;
    width: 88px;
    background: url(../images/logo.png) no-repeat;
    background-position: center;
}

.rate-table-wrapper-cont {
    display: inline-block;
    width: 33.33%;
    padding: 10px;
}

.th,.td {
    display: inline-block;
    width: 20%;
    text-align: center;
    line-height: 15px;
    padding: 5px 0;
}

.tr{
    border-bottom: 1px dashed #cecece;
}

.rate-table-header {
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    background: #EAF5FD;
    margin : 10px 0;
}

.th{
    font-family: 'opensanssemibold';
    color:#428bca;
}

.td:first-child{
    font-family: 'opensanssemibold';
}

.tr.table-header{
    border-bottom: 1px solid #cecece;
}